<div class="login_page_container">
    <div class="login_page box_shadow">

        <div class="left_item">
            <img src="../../../assets/login/spike_logo.svg" alt="">
            <img src="../../../assets/login/login-bg.png" alt="bg-img">
        </div>

        <div class="right_item">
            <div class="welcome_headline">
                <h4 class="headline">Welcome to Spike Admin</h4>
                <span class="f14 admin_dashboard">Your Admin Dashboard</span>
            </div>

            <div class="google_facebook_icon_container">
                <button class="first_btn">
                    <img width="15px" src="../../../assets/login/google_logo.png" alt="">
                    <span class="f14">Sign in with Google</span>
                </button>
                <button class="second_btn">
                    <img width="15px" src="../../../assets/login/facebook_logo.png" alt="">
                    <span class="f14">Sign in with Google</span>
                </button>
            </div>

            <div class="underline_container">
                <span class="underline"></span>
                <span class="text-nowrap">or sign in with</span>
                <span class="underline"></span>
            </div>

            <div class="username">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="email" class="form-control custome_radius" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="username">
                <label for="exampleInputEmail1" class="form-label">Password</label>
                <input type="password" class="form-control custome_radius" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

        </div>
    </div>
</div>