<section class="account_container custome_radius">
  <header class="sub_header custome_radius box_shadow">
    <h4 class="f20">Account Settings</h4>
    <span class="f14">Dashboard</span>
    <ul>
      <li class="f14">Account Settings</li>
    </ul>
  </header>

  <main class="mt-4 account_main custome_radius box_shadow">
    <!-- for the account tab -->
    <p class="account_tab">
      <i-feather class="f24" name="user"></i-feather>Account
    </p>

    <!-- change profile -->
    <div
      id="change_profile"
      class="change_profile custome_radius custome_border"
    >
      <h5 class="mb-2">Change Profile</h5>
      <p class="f14">Change your profile picture from here</p>
      <img src="./assets/account/user-1.jpg" alt="" />
      <div class="btn_group">
        <div class="file-upload">
          <label for="file-input" class="custom-button">Upload</label>
          <input type="file" id="file-input" class="file-input" />
        </div>
        <button class="btn reset">Reset</button>
        <p class="w-100 text-center">
          Allowed JPG, GIF or PNG. Max size of 800K
        </p>
      </div>
    </div>

    <!-- change password -->
    <div class="change_password custome_radius custome_border">
      <h5 class="mb-2">Change Password</h5>
      <p class="f14">
        To change your personal detail , edit and save from here
      </p>
      <form class="f14 mt-3" [formGroup]="resetPasswordForm">
        <!-- for the current password -->
        <div class="form_items mb-3">
          <label>Current Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="oldPassword"
          />
          <div
            *ngIf="
              resetPasswordForm.get('oldPassword')?.hasError('required') &&
              resetPasswordForm.get('oldPassword')?.touched
            "
            class="text-danger"
          >
            Current Password is required.
          </div>
        </div>

        <div class="form_items mb-3">
          <label>New Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="newPassword"
          />
          <div
            *ngIf="
              resetPasswordForm.get('newPassword')?.touched &&
              resetPasswordForm.get('newPassword')?.invalid
            "
          >
            <small
              *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']"
              class="text-danger"
              >New password is required</small
            >
            <small
              *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']"
              class="text-danger"
              >Password must be at least 8 characters</small
            >
            <small
              *ngIf="resetPasswordForm.get('newPassword')?.errors?.['maxlength']"
              class="text-danger"
              >Password must not exceed 20 characters</small
            >
            <small
              *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']"
              class="text-danger"
            >
              Password must contain:
              <ul>
                <li>At least one uppercase letter</li>
                <li>At least one lowercase letter</li>
                <li>At least one number</li>
                <li>At least one special character</li>
              </ul>
            </small>
          </div>
          <div>
            <small
              *ngIf="resetPasswordForm.errors?.['sameAsOldPassword'] "
              class="text-danger"
              >The new password cannot be the same as the old password.</small
            >
          </div>
        </div>

        <div class="form_items">
          <label>Confirm Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
          />

          <div
            *ngIf="
              resetPasswordForm.get('confirmPassword')?.touched &&
              resetPasswordForm.get('confirmPassword')?.invalid
            "
          >
            <small
              *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']"
              class="text-danger"
              >Confirm password is required</small
            >
          </div>
          <div
            *ngIf="resetPasswordForm.errors?.['passwordsMismatch'] "
            class="text-danger"
          >
            New Password and Confirm Password do not match.
          </div>
        </div>
      </form>

      <div class="action_buttons w-100 d-flex gap-3 justify-content-end mt-3">
        <button class="btn save_btn" (click)="save()">Save</button>
      </div>
    </div>

    <!-- profile details -->
    <div class="profile_details custome_radius custome_border f14">
      <h5 class="mb-1">Personal Details</h5>
      <p class="f14">
        To change your personal detail , edit and save from here
      </p>
      <form [formGroup]="userDetailForm">
        <!-- for the Username -->
        <div class="form_items">
          <label class="w-100">Username</label>
          <input
            readonly
            type="text"
            class="form-control flex-grow-1 mb-3"
            formControlName="username"
          />

          <div
            *ngIf="
              userDetailForm.get('username')?.hasError('required') &&
              userDetailForm.get('username')?.touched
            "
            class="text-danger"
          >
            Username is required.
          </div>
        </div>
        <!-- for the Your name -->
        <div class="form_items">
          <label class="w-100">Your Name</label>
          <input
            readonly
            type="text"
            class="form-control flex-grow-1 mb-3"
            formControlName="name"
          />
          <div
            *ngIf="
              userDetailForm.get('name')?.hasError('required') &&
              userDetailForm.get('name')?.touched
            "
            class="text-danger"
          >
            Name is required.
          </div>
        </div>

        <!-- for the Store name -->
        <div class="form_items">
          <label class="w-100">Email</label>
          <input
            readonly
            type="text"
            class="form-control flex-grow-1 mb-3"
            formControlName="email"
          />
          <div
            *ngIf="
              userDetailForm.get('email')?.hasError('required') &&
              userDetailForm.get('email')?.touched
            "
            class="text-danger"
          >
            Email is required.
          </div>
        </div>

        <!-- for the Designation name -->
        <div class="form_items">
          <label class="w-100">Designation</label>
          <input
            type="text"
            class="form-control flex-grow-1"
            formControlName="designation"
          />
          <div
            *ngIf="
              userDetailForm.get('designation')?.hasError('required') &&
              userDetailForm.get('designation')?.touched
            "
            class="text-danger"
          >
            Designation is required.
          </div>
        </div>

        <!-- for the Role -->
        <div class="form_items">
          <label>Select Role</label>
          <select class="form-select" formControlName="role">
            <option value="">Select Role</option>
            <option value="MANAGER">MANAGER</option>
            <option value="EMPLOYEE">EMPLOYEE</option>
            <option value="ADMIN">ADMIN</option>
          </select>
          <div
            *ngIf="
              userDetailForm.get('role')?.hasError('required') &&
              userDetailForm.get('role')?.touched
            "
            class="text-danger"
          >
            Role is required.
          </div>
        </div>

        <!-- for the Department -->
        <div class="form_items">
          <label class="w-100">Select Department</label>
          <select formControlName="department">
            <option
              *ngFor="let dept of department; trackBy: trackById"
              [value]="dept.name"
            >
              {{ dept.name }}
            </option>
          </select>
          <div
            *ngIf="
              userDetailForm.get('department')?.hasError('required') &&
              userDetailForm.get('department')?.touched
            "
            class="text-danger"
          >
            Department is required.
          </div>
        </div>

        <!-- for the mobile -->
        <div class="form_items">
          <label class="">Mobile</label>
          <input
            type="text"
            class="form-control flex-grow-1"
            formControlName="primaryMobileNumber"
          />
          <div
            *ngIf="
              userDetailForm.get('primaryMobileNumber')?.hasError('required') &&
              userDetailForm.get('primaryMobileNumber')?.touched
            "
            class="text-danger"
          >
            Mobile Number is required.
          </div>
          <div
            *ngIf="userDetailForm.get('primaryMobileNumber')?.errors?.['minlength'] || userDetailForm.get('primaryMobileNumber')?.errors?.['maxlength'] "
            class="text-danger"
          >
            Mobile number must be 10 digits long.
          </div>
        </div>
        <!-- for the Alternative Mobile -->
        <div class="form_items">
          <label class="">Alternative Mobile</label>
          <input
            type="text"
            class="form-control flex-grow-1"
            formControlName="secondaryMobileNumber"
          />
        </div>

        <!-- for the DOB -->
        <div class="form_items">
          <label class="">Joining Date</label>
          <input
            type="date"
            class="form-control flex-grow-1"
            formControlName="joining_date"
          />
        </div>
        <!-- for the salary -->
        <div class="form_items">
          <label class="">Salary</label>
          <input
            readonly
            type="text"
            class="form-control flex-grow-1"
            formControlName="salary"
          />
        </div>

        <!-- for the Peramanent address -->
        <div class="address">
          <!-- for the line one -->
          <div class="w-100 form_items">
            <label class="">Permanent Address</label>
            <input
              type="text"
              placeholder="line1"
              class="form-control flex-grow-1"
              formControlName="permanent_address"
            />
          </div>

          <!-- for the Country -->
          <div class="form_items">
            <label>Choose Country</label>
            <select class="form-select" formControlName="permanent_country">
              <option
                *ngFor="let country of country; trackBy: trackById"
                [value]="country.name.toUpperCase()"
              >
                {{ country.name.toUpperCase() }}
              </option>
            </select>
          </div>

          <!-- for the State -->
          <div class="form_items">
            <label>Choose State</label>
            <select
              class="form-select"
              formControlName="permanent_state"
              [ngClass]="{
                'disabled-field':
                  userDetailForm.get('permanent_state')?.disabled
              }"
            >
              <option
                *ngFor="let state of permanentStates; trackBy: trackById"
                [value]="state.name.toUpperCase()"
              >
                {{ state.name.toUpperCase() }}
              </option>
            </select>
          </div>

          <!-- for the City -->
          <div class="form_items">
            <label>City</label>
            <select
              class="form-select"
              formControlName="permanent_city"
              [ngClass]="{
                'disabled-field': userDetailForm.get('permanent_city')?.disabled
              }"
            >
              <option
                *ngFor="let city of permanentCity; trackBy: trackById"
                [value]="city.name.toUpperCase()"
              >
                {{ city.name.toUpperCase() }}
              </option>
            </select>
          </div>
          <!-- for the Zip -->
          <div class="form_items">
            <label>Zip</label>
            <input
              type="text"
              class="form-control flex-grow-1"
              formControlName="permanent_zip"
            />
          </div>
        </div>

        <!-- for the Temporary address -->
        <div class="address">
          <!-- for the line one -->
          <div class="w-100 form_items">
            <label class="">Temporary Address</label>
            <input
              type="text"
              placeholder="line1"
              class="form-control flex-grow-1"
              formControlName="temperory_address"
            />
          </div>

          <!-- for the Country -->
          <div class="form_items">
            <label>Choose Country</label>
            <select class="form-select" formControlName="temperory_country">
              <option
                *ngFor="let country of country; trackBy: trackById"
                [value]="country.name.toUpperCase()"
              >
                {{ country.name.toUpperCase() }}
              </option>
            </select>
          </div>

          <!-- for the State -->
          <div class="form_items">
            <label>Choose State</label>
            <select
              class="form-select"
              formControlName="temperory_state"
              [ngClass]="{
                'disabled-field':
                  userDetailForm.get('temperory_state')?.disabled
              }"
            >
              <option
                *ngFor="let state of temporaryStates; trackBy: trackById"
                [value]="state.name.toUpperCase()"
              >
                {{ state.name.toUpperCase() }}
              </option>
            </select>
          </div>

          <!-- for the City -->
          <div class="form_items">
            <label>City</label>
            <select
              class="form-select"
              formControlName="temperory_city"
              [ngClass]="{
                'disabled-field': userDetailForm.get('temperory_city')?.disabled
              }"
            >
              <option
                *ngFor="let city of temporaryCity; trackBy: trackById"
                [value]="city.name.toUpperCase()"
              >
                {{ city.name.toUpperCase() }}
              </option>
            </select>
          </div>
          <!-- for the Zip -->
          <div class="form_items">
            <label>Zip</label>
            <input
              type="text"
              class="form-control flex-grow-1"
              formControlName="temperory_zip"
            />
          </div>
        </div>
      </form>
    </div>

    <!-- buttons for save and cancel -->
    <div class="action_buttons w-100 d-flex gap-3 justify-content-end">
      <button class="btn save_btn" (click)="updateUserDetails()">Save</button>
      <button type="reset" class="btn cancel_btn">cancel</button>
    </div>
  </main>
</section>
