<header class="sub_header custome_radius box_shadow">
  <h4 class="f20">Taskboard</h4>
  <span class="f14">Dashboard</span>
  <ul>
    <li class="f14">Taskboard</li>
  </ul>
</header>

<div class="notes_container custome_radius">
  <div class="task_header">
    <p class="f20 h5">Taskboard</p>

    <button
      class="btn f14 create_task_btn custome_radius"
      data-bs-toggle="modal"
      data-bs-target="#add_task"
      (click)="openCreateTask()"
    >
      Create Task
    </button>
  </div>
  <div class="task_status_container">
    <!-- todo -->
    <div
      (drop)="onDrop($event, 'todo')"
      (dragover)="onDragOver($event)"
      class="task_item"
    >
      <button class="btn todo custome_radius">Todo</button>

      <ng-container *ngFor="let task of tasks; trackBy: trackByTaskId">
        <div
          *ngIf="task.status === 'todo'"
          draggable="true"
          (dragstart)="onDragStart($event, task)"
          class="task todo rounded"
        >
          <h5>{{ task.title }}</h5>
          <p>{{ task.description }}</p>
          <i-feather
            (click)="onDeleteTask(task.id)"
            class="f24"
            name="Trash"
          ></i-feather>
        </div>
      </ng-container>
    </div>

    <!-- Inprogress -->
    <div
      (drop)="onDrop($event, 'inprogress')"
      (dragover)="onDragOver($event)"
      class="task_item"
    >
      <button class="btn inprogress custome_radius">Inprogress</button>
      <ng-container *ngFor="let task of tasks; trackBy: trackByTaskId">
        <div
          *ngIf="task.status === 'inprogress'"
          draggable="true"
          (dragstart)="onDragStart($event, task)"
          class="task rounded inprogress"
        >
          <h5>{{ task.title }}</h5>
          <p>{{ task.description }}</p>
          <i-feather
            (click)="onDeleteTask(task.id)"
            class="f24"
            name="Trash"
          ></i-feather>
        </div>
      </ng-container>
    </div>

    <!-- Onhold -->
    <div
      (drop)="onDrop($event, 'onhold')"
      (dragover)="onDragOver($event)"
      class="task_item"
    >
      <button class="btn hold custome_radius">Onhld</button>
      <ng-container *ngFor="let task of tasks; trackBy: trackByTaskId">
        <div
          *ngIf="task.status === 'onhold'"
          draggable="true"
          (dragstart)="onDragStart($event, task)"
          class="task rounded hold"
        >
          <h5>{{ task.title }}</h5>
          <p>{{ task.description }}</p>
          <i-feather
            (click)="onDeleteTask(task.id)"
            class="f24"
            name="Trash"
          ></i-feather>
        </div>
      </ng-container>
    </div>

    <!-- Completed -->
    <div
      (drop)="onDrop($event, 'completed')"
      (dragover)="onDragOver($event)"
      class="task_item"
    >
      <button class="btn completed custome_radius">Completed</button>
      <ng-container *ngFor="let task of tasks; trackBy: trackByTaskId">
        <div
          *ngIf="task.status === 'completed'"
          draggable="true"
          (dragstart)="onDragStart($event, task)"
          class="task rounded completed"
        >
          <h5>{{ task.title }}</h5>
          <p>{{ task.description }}</p>
          <i-feather
            (click)="onDeleteTask(task.id)"
            class="f24"
            name="Trash"
          ></i-feather>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add_task">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content m_body box_shadow">
      <div class="modal-body">
        <p class="mb-4 h5 f18 title_task">Add Task</p>
        <form [formGroup]="taskBoard_form">
          <div
            [ngClass]="{ error: checkError('title', 'required') }"
            class="form_items"
          >
            <input
              formControlName="title"
              type="text"
              class="custome_border form-control custome_radius f14"
              placeholder="Title"
            />
            <p *ngIf="checkError('title', 'required')" class="f12">
              Title is required
            </p>
          </div>

          <div
            [ngClass]="{
              error:
                checkError('content', 'required') ||
                checkError('content', 'maxlength')
            }"
            class="form_items"
          >
            <input
              formControlName="content"
              type="text"
              class="form-control custome_border custome_radius f14"
              placeholder="Description"
            />
            <p class="f12" *ngIf="checkError('content', 'required')">
              Add some content or description
            </p>
            <p class="f12" *ngIf="checkError('content', 'maxlength')">
              You can enter a maximum of 1000 words.
            </p>
          </div>

          <div
            [ngClass]="{ error: checkError('departmentId', 'required') }"
            class="form_items"
          >
            <select formControlName="departmentId">
              <option value="null">Select a department</option>
              <option
                *ngFor="
                  let department of allDepartments;
                  trackBy: trackByDepartmentId
                "
                [value]="department.id"
              >
                {{ department.name }}
              </option>
            </select>
            <p class="f12" *ngIf="checkError('departmentId', 'required')">
              Select the department
            </p>
          </div>
          <button
            [disabled]="!taskBoard_form.valid"
            class="btn btn-primary custome_radius me-4 px-3 add"
            (click)="onSubmit()"
          >
            Add
          </button>
          <button
            #cancel
            class="btn btn-warning custome_radius px-3 cancel"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- for the delete task -->
<div class="modal fade bg-transparent" id="delete_task">
  <div class="modal-dialog bg-transparent modal-dialog-centered">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-body m_body_delete box_shadow custome_radius">
        <p class="f14">Are You Sure, You want to delete</p>
        <div class="btn_grp">
          <button class="btn custome_radius me-4 px-3 yes">Yes</button>
          <button
            class="btn bg-primary custome_radius px-3 cancel"
            data-bs-dismiss="modal"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
