<div class="post-container" (scroll)="onScroll($event)">
  <header class="sub_header custome_radius box_shadow">
    <h4 class="f20">Post</h4>
    <button
      class="btn btn-primary custome_radius f14"
      data-bs-toggle="modal"
      data-bs-target="#addBlog"
    >
      Upload Blog
    </button>
    <span class="f14">Dashboard</span>
    <ul>
      <li class="f14">Post</li>
    </ul>
  </header>

  <div id="scrollable" class="blog_container">
    <div
      *ngFor="let blog of blogs; trackBy: trackByBlogId"
      class="blog custome_radius box_shadow"
    >
      <div class="image">
        <!-- <img
        class="post_img"
        src="https://spike-angular-pro-main.netlify.app/assets/images/blog/blog-img2.jpg"
        alt=""
      /> -->
        <img class="post_img" [src]="blog.mediaFile" alt="" />
        <button class="btn custome_radius">{{ blog.title }}</button>
        <button class="btn custome_radius">2 mins read</button>
      </div>

      <div class="post_content">
        <!-- <img
        class="user_img"
        src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-1.jpg"
        alt=""
      /> -->
        <img class="user_img" [src]="blog.profilePic" alt="" />
        <p class="user_name h6">{{ blog.userName }}</p>
        <div class="post_body first_post f14">
          <div class="wrapper">
            <p>
              {{ blog.content }}
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis molestiae commodi eveniet
            </p>

            <div class="d-flex align-items-center mb-2">
              <i-feather class="f24 me-1" name="Eye"></i-feather
              ><span class="me-4">{{ blog.likeCount }}</span>
              <i-feather class="f24 me-1" name="message-circle"></i-feather>
              <span>{{ blog.commentCount }}</span>
              <p
                class="flex-grow-1 d-flex justify-content-end align-items-center"
              >
                Mon, Dec23
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="!isLoading" class="loading-indicator text-center">
    Loading more blogs...
  </div> -->
    <!-- <button (click)="loadMore()">Load More</button> -->
  </div>

  <!-- Add Modal -->
  <div class="modal fade" id="addBlog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content box_shadow">
        <div class="modal_header">
          <h5>Add Blog</h5>
          <div class="post_status">
            <i-feather class="f24 me-3" name="Clock"></i-feather>
            <button
              class="btn box_shadow custome_radius add"
              type="submit"
              data-bs-dismiss="modal"
            >
              post
            </button>
          </div>
        </div>
        <div class="modal-body f14">
          <form class="w-100">
            <!-- fir the Title -->
            <div class="form_items w-100">
              <label for="">Title Of Blog</label>
              <input type="text" required placeholder="Write Inspiring Title" />
              <p>There is Error</p>
            </div>

            <!-- for the Content -->
            <div class="form_items w-100">
              <label for="">Write Content</label>
              <textarea
                required
                class="custome_radius custome_border"
                placeholder="Write Your Content"
              ></textarea>
              <p>There is Error</p>
            </div>

            <!-- for the media -->
            <div class="media_container form_items">
              <label class="f14" for=""
                >Choose Media
                <span class="f12 text-danger"
                  >(Supported! '.PNG/.JPG/.JPEG/.GIF/.PDF/.MP4/.AVI...')</span
                ></label
              >
              <label class="custom-file-upload">
                <input type="file" />
                <img
                  src="https://cdn-icons-png.flaticon.com/128/8191/8191581.png"
                  alt="Upload Icon"
                />
              </label>

              <!-- uploaded Image -->
              <div class="choose_img mt-2 custome_radius">
                <img
                  class="w-100 custome_radius h-100"
                  src="https://th.bing.com/th/id/OIP.axh1xIcOZbwPl1gQFQ4rxgHaFM?w=273&h=180&c=7&r=0&o=5&pid=1.7"
                  alt=""
                />

                <p class="mt-2 d-flex gap-1">
                  <i-feather class="f24" name="alert-circle"></i-feather>
                  <span
                    >File Not
                    Supported(hint:'.PNG/.JPG/.JPEG/.GIF/.PDF/.MP4/.AVI...')</span
                  >
                </p>
              </div>
            </div>

            <button type="reset" class="btn btn-warning custome_radius">
              Reset
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
