<header class="sub_header custome_radius box_shadow">
    <h4 class="f20">Post</h4>
    <span class="f14">Dashboard</span>
    <ul>
        <li class="f14">Post</li>
    </ul>
</header>

<div class="blog_container">
    <div class="top_blog custome_radius box_shadow">
        <img class="bg_image img-fluid custome_radius"
            src="https://spike-angular-pro-main.netlify.app/assets/images/blog/blog-img1.jpg" alt="">

        <img class="blog_user_logo" src="./assets/user.jpg" alt="">
        <button class="btn btn-primary f12 custome_radius">gadget</button>
        <div class="blog_content">
            <p class="f24 w-100">Early Black Friday Amazon deals: cheap TVs, headphones, laptops</p>
            <i-feather class="f24 me-1" name="eye"></i-feather>
            <span class="me-4 f14">19,200</span>

            <p><i-feather class="f24" name="message-circle"></i-feather>
                <span class="f14">20</span>
            </p>
            <span class="f14">Mon,Dec 2023</span>
        </div>
    </div>

    <div class="blog custome_radius box_shadow">

        <div class="image">
            <img class="post_img" src="https://spike-angular-pro-main.netlify.app/assets/images/blog/blog-img2.jpg"
                alt="">
            <button class="btn custome_radius">Health</button>
            <button class="btn custome_radius">2 mins read</button>
        </div>

        <div class="post_content">
                <img class="user_img" src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-1.jpg" alt="">
                <p class="user_name h6">M.S Dhoni</p>
            <div class="post_body first_post f14">
                <p class="mt-5 f18">Presented by Max Rushden with Barry Glendenning, Philippe Auclair</p>
                <div class="d-flex align-items-center">
                    <i-feather class="f24 me-1" name="thumbs-up"></i-feather>
                    <span class="me-4">9,122</span>
                    <i-feather class="f24 me-1" name="message-circle"></i-feather>
                    <span>9,122</span>
                    <p class="flex-grow-1 d-flex justify-content-end align-items-center">
                        Mon, Dec23
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="blog custome_radius box_shadow">
        <div class="image">
            <img class="post_img" src="https://spike-angular-pro-main.netlify.app/assets/images/blog/blog-img2.jpg"
                alt="">
            <button class="btn custome_radius">Health</button>
            <button class="btn custome_radius">2 mins read</button>
        </div>
        <div class="post_content">
            <img class="user_img" src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-1.jpg"
                alt="">

            <div class="post_body f14">
                <p class="mt-5 f18">Presented by Max Rushden with Barry Glendenning, Philippe Auclair</p>
                <div class="d-flex align-items-center">
                    <i-feather class="f24 me-1" name="Eye"></i-feather><span class="me-4">9,122</span>
                    <i-feather class="f24 me-1" name="message-circle"></i-feather>
                    <span>9,122</span>
                    <p class="flex-grow-1 d-flex justify-content-end align-items-center">
                        Mon, Dec23
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="blog custome_radius box_shadow">
        <div class="image">
            <img class="post_img" src="https://spike-angular-pro-main.netlify.app/assets/images/blog/blog-img2.jpg" alt="">
            <button class="btn custome_radius">Health</button>
            <button class="btn custome_radius">2 mins read</button>
        </div>
        <div class="post_content">
            <img class="user_img" src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-1.jpg" alt="">
    
            <div class="post_body f14">
                <p class="mt-5 f18">Presented by Max Rushden with Barry Glendenning, Philippe Auclair</p>
                <div class="d-flex align-items-center">
                    <i-feather class="f24 me-1" name="Eye"></i-feather><span class="me-4">9,122</span>
                    <i-feather class="f24 me-1" name="message-circle"></i-feather>
                    <span>9,122</span>
                    <p class="flex-grow-1 d-flex justify-content-end align-items-center">
                        Mon, Dec23
                    </p>
                </div>
            </div>
        </div>
    
    </div>

    <div class="blog custome_radius box_shadow">
        <div class="image">
            <img class="post_img" src="https://spike-angular-pro-main.netlify.app/assets/images/blog/blog-img2.jpg" alt="">
            <button class="btn custome_radius">Health</button>
            <button class="btn custome_radius">2 mins read</button>
        </div>
        <div class="post_content">
            <img class="user_img" src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-1.jpg" alt="">
    
            <div class="post_body f14">
                <p class="mt-5 f18">Presented by Max Rushden with Barry Glendenning, Philippe Auclair</p>
                <div class="d-flex align-items-center">
                    <i-feather class="f24 me-1" name="Eye"></i-feather><span class="me-4">9,122</span>
                    <i-feather class="f24 me-1" name="message-circle"></i-feather>
                    <span>9,122</span>
                    <p class="flex-grow-1 d-flex justify-content-end align-items-center">
                        Mon, Dec23
                    </p>
                </div>
            </div>
        </div>
    
    </div>

    <div class="blog custome_radius box_shadow">
        <div class="image">
            <img class="post_img" src="https://spike-angular-pro-main.netlify.app/assets/images/blog/blog-img2.jpg" alt="">
            <button class="btn custome_radius">Health</button>
            <button class="btn custome_radius">2 mins read</button>
        </div>
        <div class="post_content">
            <img class="user_img" src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-1.jpg" alt="">
    
            <div class="post_body f14">
                <p class="mt-5 f18">Presented by Max Rushden with Barry Glendenning, Philippe Auclair</p>
                <div class="d-flex align-items-center">
                    <i-feather class="f24 me-1" name="Eye"></i-feather><span class="me-4">9,122</span>
                    <i-feather class="f24 me-1" name="message-circle"></i-feather>
                    <span>9,122</span>
                    <p class="flex-grow-1 d-flex justify-content-end align-items-center">
                        Mon, Dec23
                    </p>
                </div>
            </div>
        </div>
    
    </div>

    <div class="blog custome_radius box_shadow">
        <div class="image">
            <img class="post_img" src="https://spike-angular-pro-main.netlify.app/assets/images/blog/blog-img2.jpg" alt="">
            <button class="btn custome_radius">Health</button>
            <button class="btn custome_radius">2 mins read</button>
        </div>
        <div class="post_content">
            <img class="user_img" src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-1.jpg" alt="">
    
            <div class="post_body f14">
                <p class="mt-5 f18">Presented by Max Rushden with Barry Glendenning, Philippe Auclair</p>
                <div class="d-flex align-items-center">
                    <i-feather class="f24 me-1" name="Eye"></i-feather><span class="me-4">9,122</span>
                    <i-feather class="f24 me-1" name="message-circle"></i-feather>
                    <span>9,122</span>
                    <p class="flex-grow-1 d-flex justify-content-end align-items-center">
                        Mon, Dec23
                    </p>
                </div>
            </div>
        </div>
    
    </div>

</div>