@import "../../../styles.scss";
%common-ticket-card {
  @include flex(center, center, column, 0, 0);
  @include setDimension(rem(300), rem(107));
  border-radius: rem(18);
  color: var(--white);
  font-size: rem(20);
  cursor: pointer;
}
%common-process {
  font-weight: 600;
  font-size: rem(12);
  border-radius: rem(14);
  padding: rem(2) rem(10);
  color: var(--text-color-600);
}

.tickets_wrapper {
  @include flex("", "", column, 25, 0);

  .tickets_header {
    @include setDimension(100%, rem(81));
    min-height: rem(81);
    background-color: var(--bg-high);
    @include flex(space-between, center, "", 0, 1);
    padding: 0 rem(30);

    .left {
      color: var(--text-color-600);
      font-weight: 600;
    }

    .right {
      @include flex(center, center, "", 15, 0);

      .dashboard {
        color: var(--quick-link-hover-color);
        cursor: pointer;
      }

      .circle {
        @include setDimension(rem(5), rem(5));
        background-color: var(--textColor);
        border-radius: 50%;
      }

      .contact {
        color: var(--textColor);
        cursor: pointer;
      }
    }
  }

  .tickets_card {
    @include flex(center, center, "", 30, 0);
    @include setDimension(100%, auto);

    .blue_card {
      flex-grow: 1;
      background-color: var(--course-page-header-blue);
      @extend %common-ticket-card;
    }
    .yellow_card {
      flex-grow: 1;
      @extend %common-ticket-card;
      background-color: var(--course-page-header-yellow);
    }
    .green_card {
      flex-grow: 1;
      @extend %common-ticket-card;
      background-color: var(--proccessing-text);
    }
    .salmon_card {
      flex-grow: 1;
      @extend %common-ticket-card;
      background-color: var(--course-page-header-salmon);
    }
  }

  .tickets_search {
    @include setDimension(100%, rem(116));
    min-height: rem(116);
    background-color: var(--bg-high);
    @include flex(space-between, center, "", 15, 0);
    padding: 0 rem(30);

    .left_items {
      @include setDimension(rem(360), rem(52));
      @include flex(space-between, center, "", 0, 0);
      border: rem(1) solid var(--textColor-400);
      padding-right: rem(18);

      &:hover {
        border: rem(2) solid var(--contact-user-bg);
        cursor: pointer;
      }

      & input {
        @include setDimension(rem(360), rem(50));
        background-color: var(--bg-high);
        color: var(--text-color-600);
        border: 0;
        border-top-left-radius: rem(18);
        border-bottom-left-radius: rem(18);
        padding-left: rem(15);
        &:hover {
          border: rem(1) solid var(--contact-user-bg);
          border-width: rem(1) 0;
          cursor: pointer;
        }
        &:focus {
          outline: 0;
        }

        &::placeholder {
          color: var(--textColor-400);
        }
      }

      & i-feather {
        @include setDimension(rem(18), rem(18));
        color: var(--text-color-600);
      }
    }

    .right_items {
      @include minwidth_minheight(rem(120), rem(36));
      background-color: var(--contact-user-bg);
      color: var(--white);
    }
  }

  .tickets_details {
    @include flex("", "", column, 0, 25);
    @include setDimension(100%, auto);
    background-color: var(--bg-high);
    color: var(--text-color-600);
    overflow-x: auto;

    .table_wrapper {
      overflow-x: auto;
      overflow-y: hidden;

      .table {
        --bs-table-bg: var(--custom-tables-bg);
        --bs-table-color: var(--custome-table-color);
        border-color: var(--input-border-color);

        tbody {
          .user_profile {
            @include flex("", center, "", 12, 0);

            img {
              @include rounded_icons(40, 40, "");
            }
            p {
              font-size: rem(16);
              font-weight: 600;
            }
          }
          & tr:last-child {
            border-bottom-color: transparent;
          }
        }
        tr {
          height: rem(85);
        }
        td,
        th,
        p {
          text-wrap: nowrap;
        }
        .open {
          @extend %common-process;
          background-color: var(--ticket-open-bg);
        }
        .inProcess {
          @extend %common-process;
          background-color: var(--ticket-inprocess-bg);
        }
        .closed {
          @extend %common-process;
          background-color: var(--ticket-cloed-bg);
        }
        .edit_delet_wrapper {
          @include flex("", center, "", 9, 0);
          &:first-child,
          :last-child {
            cursor: pointer;
          }
        }
      }

      .table td,
      th {
        vertical-align: middle;
      }
    }

    .table_footer {
      @include flex(flex-end, center, "", 26, 0);
      @include setDimension(100%, rem(70));
      padding-right: rem(20);

      i-feather {
        cursor: pointer;
      }
      .table_select {
        @include flex(space-between, center, "", 0, 0);
        @include setDimension(rem(80), rem(38));
        border: rem(1) solid var(--input-border-color);
        border-radius: rem(18);
        cursor: pointer;
        padding: 0 rem(12);
        position: relative;
        &:focus {
          border: rem(2) solid var(--input-border-color);
        }
      }
      .drop_down {
        @include flex(center, "", column, 0, 0);
        @include setDimension(rem(84), rem(150));
        background-color: var(--bg-high);
        position: absolute;
        z-index: 2;
        left: rem(124);
        bottom: rem(48);

        .dropdown_items {
          @include flex(center, center, "", 0, 0);
          @include setDimension(100%, rem(48));
          transition: background-color 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: var(--ticket-dropdown-bg-color);
          }

          &:first-child {
            border-radius: rem(10) rem(10) 0 0;
            background-color: var(--ticket-dropdown-bg-color);
          }
          &:last-child {
            border-radius: 0 0 rem(10) rem(10);
          }
        }
      }
    }
  }
}
