.img-text-box {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  padding: 10px 0;

  .img-box {
    width: 60px;
    height: 60px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .text-box {
    display: flex;
    flex-direction: column;

    h1 {
      text-wrap: wrap;
    }
    span {
      font-size: 12px;
      line-height: 20px;
      text-wrap: wrap;
    }
  }
}
