@import "../styles.scss";

%hover_circle_shape {
  border-radius: 50%;
  background-color: var(--sidebar-hover-bg);
}

%ifather_circle_shape {
  position: absolute;
  @include rounded_icons(45, 45, "");
  content: "";
  z-index: -1;
}

%shortcut_hover {
  @include setDimension(rem(144), rem(144));
  transition: background-color 0.3s ease-in-out;
  min-width: rem(150);
  @include flex(center, center, column, 5, 16);
  text-wrap: nowrap;

  &:hover {
    background-color: var(--shortcuts-hover-bg);
    cursor: pointer;
  }
}

.header_body {
  @include flex(space-between, center, "", 0, 16);
  background-color: var(--bg-high);
  .header_left_container {
    margin-left: rem(10);

    .menu {
      z-index: 1;
      cursor: pointer;
      @include flex(center, center, "", 0, 0);

      &:hover::after {
        @extend %ifather_circle_shape;
        background-color: var(--sidebar-hover-bg);
      }
    }

    @include flex("", center, "", 10, 0);

    & button {
      @include outline_border(none, none);
      background-color: transparent;
      font-size: rem(15);
      color: var(--textColor);
      height: rem(40);
      padding: rem(16);
    }

    .header_item {
      padding: rem(10);

      &:hover {
        @include hover(rem(25), var(--sidebar-hover-bg), "");
        cursor: pointer;
      }
    }

    .header_left_logo {
      @include setDimension(rem(48), rem(48));
      @include flex(center, center, "", 0, 0);
      cursor: pointer;

      &:hover {
        @extend %hover_circle_shape;
      }
    }

    .apps_nav {
      width: rem(82);
      border-radius: rem(26);
      @include flex(center, center, "", 8, 0);

      & button {
        @include flex("", center, "", 0, 0);
      }

      & i-feather {
        @include setDimension(rem(16), rem(16));
        @include flex(center, center, "", 0, 0);
        cursor: pointer;
      }

      &:hover {
        background-color: var(--sidebar-hover-bg);
      }
    }
  }

  .header_right_container {
    @include flex("", center, "", 8, 0);

    .search_container {
      border-radius: rem(20);
      @include flex("", center, "", 10, 14);
      cursor: pointer;
      @include setDimension(rem(180), rem(38));

      &:hover {
        background-color: var(--sidebar-hover-bg);
      }

      .seachlogo {
        @include setDimension(rem(16), rem(16));
        @include flex("", center, "", 0, 0);
      }
    }

    .user_admin {
      @include setDimension(rem(180), rem(55));
      @include flex(center, center, "", 12, 1);
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: var(--sidebar-hover-bg);
      }

      .admin_image {
        @include setDimension(rem(40), rem(40));
        object-fit: cover;
        border-radius: 50%;
      }

      .mike_admin .mike_nielsen {
        color: var(--textColor);
        font-size: rem(16);
      }

      .admin_name {
        font-size: rem(14);
        margin-top: rem(-5);
      }
    }

    .country_logo {
      @include setDimension(rem(21), rem(21));
      border-radius: 50%;
      overflow: hidden;
      @include flex("center", center, "", 0, 0);

      & button {
        @include flex("center", center, "", 0, 0);
        background-color: transparent;
        @include outline_border(none, none);
      }
    }

    .country_logo img {
      @include setDimension(rem(22), rem(22));
    }

    .icons {
      @include flex(center, center, "", 0, 0);
      @include rounded_icons(48, 48, "");

      &:hover {
        background-color: var(--sidebar-hover-bg);
      }
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.country_items_container {
  flex-direction: column;
  color: var(--text-color-600);
  background-color: var(--apps-icon-modal-bg);

  .name_country_logo {
    @include setDimension(rem(116), rem(40));
    @include flex(center, center, "", 12, 0);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--shortcuts-hover-bg);
    }
  }

  .name_country_logo.first {
    margin-top: rem(16);
    border-top-left-radius: rem(2);
    border-top-right-radius: rem(2);
  }

  .name_country_logo.last {
    border-bottom-left-radius: rem(2);
    border-bottom-right-radius: rem(2);
  }

  .dropdown-menu.show {
    border: none;
    color: var(--textColor-200);
    @include minwidth_minheight(rem(360), rem(533));
    transform: translate(rem(662), rem(55));
  }
}

// country icon
.country_logo {
  .dropdown-menu.show {
    @include minwidth_minheight(rem(116), rem(211));
    box-shadow: var(--message-madal-box-shadow);
  }
}

// Message Icon Modal
.message_icon_container {
  .f14 {
    font-weight: 600;
    color: var(--text-color-600);
  }

  .f12 {
    color: var(--text-color-400);
  }

  .message_items_first {
    padding: rem(25) 0 0 rem(28);
    margin: rem(3) 0 0 rem(6);
  }

  .message_items {
    height: rem(73);
    @include flex(flex-start, center, "", 25, 1);
    padding: 0 0 0 rem(28);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;

    & img {
      @include setDimension(rem(50), rem(50));
      border-radius: 50%;
    }

    .name_message {
      @include flex("", "", column, 5, 0);

      span:first-child {
        font-weight: bold;
      }
    }

    .message_new_btn {
      @include setDimension(rem(53), rem(24));
      background-color: #f8c076;
      @include flex(center, center, "", 0, 0);
      border-radius: rem(10);
      color: var(--textColor);
      cursor: pointer;
    }
  }

  .see_all_message_btn {
    @include flex(center, center, "", 0, 0);

    .btn_body {
      @include setDimension(rem(294), rem(36));
      background-color: #2b8ede;
      margin-top: rem(10);
      color: #ffffff;
      @include flex(center, center, "", 0, 0);
      cursor: pointer;
    }
  }

  .message_items:not(:first-child):hover {
    background-color: var(--sidebar-hover-bg);
  }

  .dropdown-menu.show {
    border: none;
    color: var(--textColor-200);
    @include minwidth_minheight(rem(360), rem(533));
    transform: translate(rem(662), rem(55));
    background-color: var(--message-madal-bg);
    box-shadow: var(--message-madal-box-shadow);
  }
}

// User Profile
.User_profile_container {
  .f16,
  .f18 {
    color: var(--text-color-600);
    font-weight: 600;
  }

  .f14 {
    color: var(--textColor-200);
  }

  .user_items_body {
    @include flex("", "", column, 10, 0);
    padding-left: rem(20);

    .user_profile_item2 {
      height: rem(128);
      @include flex(flex-start, center, "", 25, 0);
      border-bottom: rem(1) solid #cccccc;
      cursor: pointer;

      .user_details {
        @include flex("", "", column, 5, 0);

        & div {
          @include flex("", center, "", 0, 0);
        }

        i-feather {
          display: flex;
          @include setDimension(rem(16), rem(16));
          color: var(--textColor-200);
        }
      }

      & img {
        @include rounded_icons(100, 100, "");
      }
    }

    .user_profile_item3 {
      height: rem(70);
      @include flex(flex-start, center, "", 30, 0);
      cursor: pointer;

      .user_profile {
        @include flex("", "", column, 0, 0);
      }

      .profile_icon {
        @include flex(center, center, "", 0, 0);
        @include setDimension(rem(50), rem(50));
        border-radius: rem(14);
        background-color: var(--user-profile-icon-bg);

        i-feather {
          @include setDimension(rem(16), rem(27));
          color: #0085db;
        }
      }

      .Inbox_icon {
        @extend .profile_icon;
        background-color: var(--user-inbox-icon-bg);

        i-feather {
          @include setDimension(rem(16), rem(27));
          color: #338965;
        }
      }

      .Tasks_icon {
        @extend .profile_icon;
        background-color: var(--user-task-icon-bg);
      }

      i-feather {
        @include setDimension(rem(16), rem(27));
        color: #fb977d;
      }
    }

    .user_profile_logout_cnt {
      @include flex(center, center, "", 0, 0);
      @include setDimension(rem(293), rem(36));
      background-color: #0085db;
      border-radius: rem(18);
      color: var(--white);
      cursor: pointer;
    }
  }

  .dropdown-menu.show {
    @include minwidth_minheight(rem(360), rem(512));
    transform: translate(rem(-11), rem(65));
    background-color: var(--message-madal-bg);
  }
}

// Shortcut Icon Modal
.shortcut_icon_container {
  .f16 {
    color: var(--text-color-600);
    font-weight: 600;
  }

  .f14 {
    color: var(--text-color-400);
  }

  i-feather {
    position: relative;
    @include flex(center, center, "", 0, 0);

    &.invoice:after {
      @extend %ifather_circle_shape;
      background-color: var(--invoce-icon-bg);
    }

    &.chat:after {
      @extend %ifather_circle_shape;
      background-color: var(--chat-icon-bg);
    }

    &.contact:after {
      @extend %ifather_circle_shape;
      background-color: var(--contact-icon-bg);
    }

    &.mail:after {
      @extend %ifather_circle_shape;
      background-color: var(--email-icon-bg);
    }

    &.todo:after {
      @extend %ifather_circle_shape;
      background-color: var(--todo-icon-bg);
    }

    &.calander:after {
      @extend %ifather_circle_shape;
      background-color: var(--calender-icon-bg);
    }

    &.chat:after {
      @extend %ifather_circle_shape;
      background-color: var(--shortcuts-hover-bg);
    }
  }

  .shortcut_items_container {
    @include flex("", "", column, 0, 0);
    color: var(--textColor);

    .shortcut_heading {
      height: rem(45);
      padding: rem(5) 0 0 rem(36);
    }

    .invoice_items {
      @extend %shortcut_hover;
    }

    .invoice_chat_cnt {
      display: flex;
      border-top: rem(1) solid var(--left-bottom-border);

      .chat_container {
        border-left: rem(1) solid var(--left-bottom-border);
      }
    }

    .contact_email_cnt {
      display: flex;
      @include setDimension(100%, rem(132));
      border-top: rem(1) solid var(--left-bottom-border);
      border-bottom: rem(1) solid var(--left-bottom-border);

      .email_container {
        border-left: rem(1) solid var(--left-bottom-border);
      }
    }

    .todo_calender_cnt {
      display: flex;

      .calender_container {
        border-left: rem(1) solid var(--left-bottom-border);
        padding: rem(8) 0 0 0;
      }
    }
  }

  .dropdown-menu.show {
    position: absolute;
    inset: 0 auto auto 0;
    margin:rem(0);
    @include minwidth_minheight(rem(310), rem(449));
    background-color: var(--shortcuts-bg);
  }
}

// Apps Modal
.apps_modal {
  background-color: var(--apps-icon-modal-bg);
}

.apps_book_model {
  width: rem(840);
  height: rem(425);

  .f14 {
    font-weight: 600;
    color: var(--text-color-600);
  }

  .f12 {
    color: var(--text-color-400);

    &:hover {
      color: var(--quick-link-hover-color);
      cursor: pointer;
    }
  }

  .left_items {
    width: rem(540);
    @include flex("", "", column, 0, 0);

    .top_items {
      display: flex;
      padding-top: rem(20);

      .top_items_left {
        width: 50%;
        @include flex("", "", column, 10, 0);
        padding-left: rem(10);

        .chats_icon_container {
          @include flex(center, center, "", 20, 0);
          height: rem(70);

          .chats_logo {
            @include rounded_icons(50, 50, var(--apps-icon-bg));
            @include flex(center, center, "", 0, 0);

            & img {
              @include setDimension(rem(22), rem(22));
            }
          }

          .heading_mails_cnt {
            @include flex("", "", column, 8, 0);
            width: rem(160);

            span {
              transition: color 0.3s ease-in-out;

              &:first-of-type:hover {
                color: #0281d5;
                cursor: pointer;
              }
            }
          }
        }
      }

      .top_items_right {
        width: 50%;
        @include flex("", "", column, 10, 0);

        .icon_heading_container {
          @include flex(center, center, "", 20, 0);
          height: rem(70);

          .logo_cnt {
            @include flex(center, center, "", 0, 0);
            @include setDimension(rem(50), rem(50));
            border-radius: 50%;
            background-color: var(--apps-icon-bg);

            & img {
              @include setDimension(rem(22), rem(22));
            }
          }

          .heading_cnt {
            @include flex("", "", column, 8, 0);
            width: rem(160);

            span {
              transition: color 0.3s ease-in-out;

              &:first-child:hover {
                color: #0281d5;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .bottom_items {
      flex-grow: 1;
      border-top: rem(1) solid var(--left-bottom-border);
      @include flex(space-between, center, "", 0, 1);
      padding: 0 rem(30);

      .bottom_left {
        @include flex(center, center, row, 8, 0);
        color: var(--text-color-600);

        i-feather {
          display: flex;
          @include setDimension(rem(20), rem(20));
        }
      }

      .bottom_right {
        @include flex(center, center, "", 0, 0);
        border-radius: rem(19);
        @include setDimension(rem(75), rem(35));
        background-color: #2b8ede;
        color: #f4f8fd;
      }
    }
  }

  .right_items {
    @include flex("", "", column, 17, 0);
    flex-grow: 1;
    padding: rem(28) 0 0 rem(20);
    border-left: rem(1) solid var(--left-bottom-border);

    h4 {
      color: var(--text-color-600);
    }

    span {
      transition: color 0.3s ease-in-out;
      font-size: rem(15);
      color: var(--text-color-400);

      &:hover {
        color: var(--quick-link-hover-color);
        cursor: pointer;
      }
    }
  }
}

.offcanvas-start {
  @include setDimension(auto, 100vh);
  background-color: transparent;
}

// Search modal
.modal_dialogs {
  margin-top: 6.5%;
  .modal_contents {
    @include minwidth_minheight(rem(550), rem(650));
    background-color: var(--search-modal-bg);
    box-shadow: var(--message-madal-box-shadow);
  }

  .input_filed_container {
    @include setDimension(100%, rem(100));
    @include flex(space-between, center, "", 15, 0);
    padding: 0 rem(38);
    border-bottom: rem(1) solid var(--input-border-color);

    input {
      height: rem(51);
      box-shadow: none;
      background-color: var(--search-modal-bg);
      border: rem(1) solid var(--input-border-color);
      color: var(--white);
      color: var(--text-color-600);

      &:focus {
        border: rem(2) solid var(--input-modal-outline-color);
      }

      &::placeholder {
        color: var(--textColor-200);
        font-weight: 500;
      }
    }
  }

  .search_modal_body {
    & :nth-child(2) {
      margin-top: rem(32);
    }

    .search_modal_heading {
      color: var(--text-color-600);
    }

    max-height: rem(500);
    overflow-y: auto;
    padding: rem(9) 0 0 rem(24) !important;

    .heading {
      font-size: rem(14);
      color: var(--text-color-600);
      font-weight: 500;
    }

    .summary {
      font-size: rem(12);
      color: var(--text-color-400);
      font-weight: 500;
      display: block;
    }

    // Mixin for scrollbar
    & {
      @include custom-scrollbar(rem(6), "", var(--border-color-lighter), "");
    }
  }
}
