<div class="header_container col-md-12">
    <div class="header_body rounded-4 shadow d-flex justify-content-between align-items-center p-3">

        <!-- Header Left Content -->
        <div class="header_left_container d-flex gap-1 align-items-center">
            <div class="header_left_logo">
                <i-feather name="align-left"></i-feather>
            </div>

            <div class="apps_icon_container ">
                <div class="d-none d-xl-block">
                    <div class="d-flex gap-0 align-items-center apps_icon_conatiner dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <button class="d-flex align-items-center" data-bs-toggle="modal"
                            data-bs-target="#exampleModal2">
                            Apps
                        </button>
                        <i-feather name="chevron-down"></i-feather>
                    </div>

                    <div class="dropdown-menu">
                        <div class="chat_todo_quick_container">

                            <div class="left_items">
                                <div class="top_items">

                                    <div class="top_items_left">

                                        <div class="chats_icon_container">

                                            <div class="chats_logo">
                                                <img src="../../../assets/modal_logo/chat.png" alt="chat">
                                            </div>
                                            <div class="heading_mails_cnt">
                                                <span class="f14">Chat Application</span>
                                                <span class="f12">Messages & Emails</span>
                                            </div>
                                        </div>

                                        <div class="chats_icon_container">
                                            <div class="chats_logo">
                                                <img src="../../../assets/modal_logo/invoice.png" alt="">
                                            </div>
                                            <div class="heading_mails_cnt">
                                                <span class="f14">Invoice App</span>
                                                <span class="f12">Get latest invoice</span>
                                            </div>
                                        </div>

                                        <div class="chats_icon_container">

                                            <div class="chats_logo">
                                                <img src="../../../assets/modal_logo/phone.png" alt="contact">
                                            </div>

                                            <div class="heading_mails_cnt">
                                                <span class="f14">Contact Application</span>
                                                <span class="f12">2 Unsaved Contacts </span>

                                            </div>
                                        </div>

                                        <div class="chats_icon_container">

                                            <div class="chats_logo">
                                                <img src="../../../assets/modal_logo/gmail.png" alt="mail">
                                            </div>

                                            <div class="heading_mails_cnt">
                                                <span class="f14">Emails App</span>
                                                <span class="f12">Get new emails</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="top_items_right">

                                        <div class="icon_heading_container">
                                            <div class="logo_cnt">
                                                <img src="../../../assets/modal_logo/list.png" alt="todo">
                                            </div>
                                            <div class="heading_cnt">
                                                <span class="f16">Todo App</span>
                                                <span class="f12">Completed Task</span>
                                            </div>
                                        </div>

                                        <div class="icon_heading_container">
                                            <div class="logo_cnt">
                                                <img src="../../../assets/modal_logo/calendar.png" alt="calendar">
                                            </div>
                                            <div class="heading_cnt">
                                                <span class="f16">Calendar App</span>
                                                <span class="f12">Get Dates</span>
                                            </div>
                                        </div>


                                        <div class="icon_heading_container">
                                            <div class="logo_cnt">
                                                <img src="../../../assets/modal_logo/ticket.png" alt="calendar">
                                            </div>
                                            <div class="heading_cnt">
                                                <span class="f16">Ticket App</span>
                                                <span class="f12">Create new tickets</span>
                                            </div>
                                        </div>

                                        <div class="icon_heading_container">
                                            <div class="logo_cnt">
                                                <img src="../../../assets/modal_logo/graduation.png" alt="calendar">
                                            </div>
                                            <div class="heading_cnt">
                                                <span class="f16">Cources</span>
                                                <span class="f12">Create new cource</span>
                                            </div>
                                        </div>



                                    </div>

                                </div>

                                <div class="bottom_items">
                                    <div class="bottom_left d-flex gap-3">
                                        <div><i-feather name="help-circle"></i-feather></div>
                                        <div><span class="f16">Frequently Asked Questions</span></div>
                                    </div>

                                    <div class="bottom_right">
                                        <button type="button" class="btn">
                                            <span class="f14">Check</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="right_items">
                                <h3><span class="f18 ">Quick Links</span></h3>
                                <div class="mt-1"><span class="f14">Pricing Page </span></div>
                                <div><span class="f14 ">Authentication Design </span></div>
                                <div><span class="f14 ">Register Now </span></div>
                                <div><span class="f14 ">404 Error Page </span></div>
                                <div><span class="f14 ">Notes App </span></div>
                                <div><span class="f14 ">Employee App </span></div>
                                <div><span class="f14 ">Todo Application </span></div>
                                <div><span class="f14 ">Treeview </span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="d-none d-xl-block">
                <button class="d-flex align-items-center">Chat</button>
            </div>
            <div class="d-none d-xl-block">
                <button class="d-flex align-items-center">Calender</button>
            </div>
            <div class="d-none d-xl-block">
                <button class="d-flex align-items-center">Email</button>
            </div>
        </div>

        <!-- Header Right Content -->
        <div class="header_right_container d-flex align-items-center gap-2">
            <div class="d-none d-xl-block d-xxl-block" type="button" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <div class="search_container d-flex align-items-center">
                    <div class="search_icon d-flex align-items-center">
                        <i-feather class="seachlogo" name="search"></i-feather>
                    </div>

                    <div class="seach">
                        <input type="text" placeholder="Try to Searching..." />
                    </div>
                </div>
            </div>

            <div class="d-none d-lg-none d-xl-none d-xxl-none d-sm-block d-md-block">
                <i-feather name="grid" class="icon_menu"></i-feather>
            </div>

            <!-- Country Icon Dropdown -->
            <div class="country_logo icons">
                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../../assets/united-states.png" alt="" />
                </button>

                <div class="dropdown-menu country_items_container">
                    <div class="name_country_logo first mt-3">
                        <div>
                            <img src="../../../assets/uk.png" alt="" />
                        </div>

                        <div><span class="f14">English</span></div>
                    </div>

                    <div class="name_country_logo mt-3">
                        <div>
                            <img src="../../../assets/uk.png" alt="" />
                        </div>

                        <div><span class="f14">English</span></div>
                    </div>

                    <div class="name_country_logo mt-3">
                        <div>
                            <img src="../../../assets/uk.png" alt="" />
                        </div>

                        <div><span class="f14">English</span></div>
                    </div>

                    <div class="name_country_logo last mt-3">
                        <div>
                            <img src="../../../assets/uk.png" alt="" />
                        </div>

                        <div><span class="f14">English</span></div>
                    </div>
                </div>
            </div>

            <!-- Massage Icon Dropwon Card-->
            <div class="icons message_icon_container">
                <i-feather name="message-square" class="d-flex icon dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                </i-feather>

                <div class="dropdown-menu p-0">
                    <div class="message_items message_items_first">
                        <div>
                            <h6><span class="f14 message_weight">Messages</span></h6>
                        </div>

                        <div class="message_new_btn"><span class="f12">5 new</span></div>
                    </div>

                    <div class="message_items">
                        <div><img src="../../../assets/mesage_user.jpg" alt="" /></div>

                        <div class="name_message">
                            <div><span class="f14">Roman Joined the Team!</span></div>
                            <div><span class="f14">Congratulate him</span></div>
                        </div>
                    </div>

                    <div class="message_items">
                        <div><img src="../../../assets/mesage_user.jpg" alt="" /></div>

                        <div class="name_message">
                            <div><span class="f14">Roman Joined the Team!</span></div>
                            <div><span class="f14">Congratulate him</span></div>
                        </div>
                    </div>

                    <div class="message_items">
                        <div><img src="../../../assets/mesage_user.jpg" alt="" /></div>

                        <div class="name_message">
                            <div><span class="f14">Roman Joined the Team!</span></div>
                            <div><span class="f14">Congratulate him</span></div>
                        </div>
                    </div>

                    <div class="message_items">
                        <div><img src="../../../assets/mesage_user.jpg" alt="" /></div>

                        <div class="name_message">
                            <div><span class="f14">Roman Joined the Team!</span></div>
                            <div><span class="f14">Congratulate him</span></div>
                        </div>
                    </div>
                    <div class="message_items">
                        <div><img src="../../../assets/mesage_user.jpg" alt="" /></div>

                        <div class="name_message">
                            <div><span class="f14">Roman Joined the Team!</span></div>
                            <div><span class="f14">Congratulate him</span></div>
                        </div>
                    </div>

                    <div class="message_itemss see_all_message_btn">
                        <div class="btn_body">
                            <span class="f14">See All Messages</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Shortcut Modal -->
            <div class="shortcut_icon_container">
                <div class="dropdown-toggle icons icon d-flex" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i-feather name="grid" class="d-flex"> </i-feather>
                </div>


                <div class="dropdown-menu">
                    <div class="shortcut_items_container">

                        <div class="shortcut_heading">
                            <span class="f16">Shortcuts</span>
                        </div>

                        <div class="invoice_chat_cnt col-md-12">

                            <div class="invoice_container col-md-6 ">
                                <div class="invoice_icon">
                                    <i-feather name="list"></i-feather>
                                </div>
                                <div><span class="f16">Invoice</span></div>
                                <div><span class="f14">Get latest Invoce </span></div>
                            </div>

                            <div class="chat_container col-md-6">
                                <div class="chat_icon">
                                    <i-feather name="message-square"></i-feather>
                                </div>
                                <div><span class="f16">Chat</span></div>
                                <div><span class="f14">New Messages</span></div>
                            </div>


                        </div>

                        <div class="contact_email_cnt col-md-12">

                            <div class="contact_container col-md-6">
                                <div class="contact_icon">
                                    <i-feather name="phone-call"></i-feather>
                                </div>
                                <div><span class="f16">Contact</span></div>
                                <div><span class="f14">2 Unsaved Contacts</span></div>
                            </div>

                            <div class="email_container col-md-6">
                                <div class="email_icon">
                                    <i-feather name="mail"></i-feather>
                                </div>
                                <div><span class="f16">Email</span></div>
                                <div><span class="f14">Get new emails</span></div>
                            </div>
                        </div>

                        <div class="todo_calender_cnt col-md-12">

                            <div class="todo_container col-md-6">
                                <div class="todo_icon">
                                    <i-feather name="phone-call"></i-feather>
                                </div>
                                <div><span class="f16">ToDo</span></div>
                                <div><span class="f14">Daily Tasks</span></div>
                            </div>

                            <div class="calender_container col-md-6">
                                <div class="calender_icon">
                                    <i-feather name="calendar"></i-feather>
                                </div>
                                <div><span class="f16">Calender</span></div>
                                <div><span class="f14">Get Dates</span></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- User Profile -->
            <div class="User_profile_container">
                <div class="dropdown-toggle user_admin d-flex align-items-center gap-3 rounded-5" name="message-square"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="admin_image">
                        <img src="../../../assets/user.jpg" alt="user image" />
                    </div>

                    <div class="d-none d-xxl-block">
                        <div class="d-flex flex-column mike_admin">
                            <div>
                                <h5 class="mike_nielsen text-nowrap">Mike Nielsen</h5>
                            </div>
                            <div><span class="admin_name">Admin</span></div>
                        </div>
                    </div>
                </div>

                <div class="dropdown-menu">
                    <div class="user_items_body m-4">
                        <div class="user_profile_item1">
                            <h6><span class="f18">User Profile</span></h6>
                        </div>

                        <div class="user_profile_item2">
                            <div><img src="../../../assets/user_profile.jpg" alt="" /></div>

                            <div class="user_details">
                                <div><span class="f16">Mike Nielsen</span></div>
                                <div><span class="f14">Admin</span></div>
                                <div class="d-flex gap-1">
                                    <div><i-feather name="mail"></i-feather></div>
                                    <div><span class="f14">info@spike.com</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="user_profile_item3">
                            <div class="profile_icon">
                                <i-feather name="layout"></i-feather>
                            </div>
                            <div>
                                <div><span class="f14">My Profile</span></div>
                                <div><span class="f14">Account Settings</span></div>
                            </div>
                        </div>
                        <div class="user_profile_item3">
                            <div class="Inbox_icon">
                                <i-feather name="inbox"></i-feather>
                            </div>

                            <div>
                                <div><span class="f14">My Inbox</span></div>
                                <div><span class="f14">Messages & Emails</span></div>
                            </div>
                        </div>
                        <div class="user_profile_item3">
                            <div class="Tasks_icon">
                                <i-feather name="table"></i-feather>
                            </div>

                            <div>
                                <div><span class="f14">My Tasks</span></div>
                                <div>
                                    <span class="f14">To-do and Daily Tasks Settings</span>
                                </div>
                            </div>
                        </div>

                        <div class="user_profile_logout_cnt">
                            <div><span class="f14">Logout</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>