<div class="header_container">
    <div class="header_body rounded-4 shadow d-flex justify-content-between align-items-center p-3">

        <div class="header_left_container d-flex gap-2 align-items-center">
            <div class="header_left_logo"><i-feather name="align-left"></i-feather></div>
            <div class="d-none d-lg-block"><button class="d-flex align-items-center ">Chat</button></div>
            <div class="d-none d-lg-block"><button class="d-flex align-items-center ">Apps</button></div>
            <div class="d-none d-lg-block"><button class="d-flex align-items-center ">Calender</button></div>
            <div class="d-none d-lg-block"><button class="d-flex align-items-center ">Email</button></div>
        </div>

        <div class="header_right_container d-flex align-items-center gap-4">

            <div class="d-none d-lg-block d-xl-block">
                <div class="search_container d-flex align-items-center ">
                    <div class="search_icon d-flex align-items-center">
                        <i-feather class="seachlogo" name="search"></i-feather>
                    </div>

                    <div class="seach"> <input type="text" placeholder="Try to Searching..."></div>
                </div>
            </div>

            <div class="d-none d-lg-none d-xl-none d-xxl-none d-sm-block d-md-block">
                <i-feather name="grid"  class="icon_menu"></i-feather>
            </div>

            <div><img src="../../../assets/icon-flag-en.svg" alt=""></div>

            <div><i-feather name="message-square" class="icon"></i-feather></div>

            <div><i-feather name="grid" class="icon"></i-feather></div>

            <div class="user_admin d-flex align-items-center gap-3 rounded-5">

                <div class="admin_image">
                    <img src="../../../assets/user.jpg" alt="user image">
                </div>

                <div class="d-none d-lg-block">
                    <div class="d-flex flex-column mike_admin">
                        <div>
                            <h5 class="mike_nielsen text-nowrap">Mike Nielsen</h5>
                        </div>
                        <div><span class="admin_name">Admin</span></div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>