<div class="header_body custome_radius box_shadow">
  <!-- Header Left Content -->
  <div class="header_left_container">
    <i-feather (click)="toggleFn()" name="align-left" id="menu_toggle" class="menu"></i-feather>

    <!-- for the offcanvas in small device -->
    <i-feather id="offcanvas_sidebar" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling" class="d-block d-xl-none d-lg-none" name="align-left"></i-feather>

    <!-- Apps and icon container -->
    <div class="apps_icon_container d-none d-xl-block">
      <div class="apps_nav dropdown-toggle ms-2" type="button" data-bs-toggle="dropdown">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal2">
          Apps
        </button>
        <i-feather name="chevron-down"></i-feather>
      </div>

      <div class="dropdown-menu box_shadow apps_modal">
        <div class="apps_book_model d-flex">
          <div class="left_items">
            <div class="top_items">
              <div class="top_items_left ms-3 mb-4">
                <div class="chats_icon_container">
                  <span class="chats_logo">
                    <img src="../../../assets/modal_logo/chat.png" alt="chat" />
                  </span>

                  <div class="heading_mails_cnt">
                    <span class="f14">Chat Application</span>
                    <span class="f12">Messages & Emails</span>
                  </div>
                </div>

                <div class="chats_icon_container">
                  <span class="chats_logo">
                    <img src="../../../assets/modal_logo/invoice.png" alt="" />
                  </span>

                  <div class="heading_mails_cnt">
                    <span class="f14">Invoice App</span>
                    <span class="f12">Get latest invoice</span>
                  </div>
                </div>

                <div class="chats_icon_container">
                  <span class="chats_logo">
                    <img src="../../../assets/modal_logo/phone.png" alt="contact" />
                  </span>

                  <div class="heading_mails_cnt">
                    <span class="f14">Contact Application</span>
                    <span class="f12">2 Unsaved Contacts </span>
                  </div>
                </div>
                <div class="chats_icon_container">
                  <span class="chats_logo">
                    <img src="../../../assets/modal_logo/gmail.png" alt="mail" />
                  </span>

                  <div class="heading_mails_cnt">
                    <span class="f14">Emails App</span>
                    <span class="f12">Get new emails</span>
                  </div>
                </div>
              </div>

              <div class="top_items_right">
                <div class="icon_heading_container">
                  <span class="logo_cnt">
                    <img src="../../../assets/modal_logo/list.png" alt="todo" />
                  </span>
                  <div class="heading_cnt">
                    <span class="f14">Todo App</span>
                    <span class="f12">Completed Task</span>
                  </div>
                </div>

                <div class="icon_heading_container">
                  <span class="logo_cnt">
                    <img src="../../../assets/modal_logo/calendar.png" alt="calendar" />
                  </span>
                  <div class="heading_cnt">
                    <span class="f14">Calendar App</span>
                    <span class="f12">Get Dates</span>
                  </div>
                </div>

                <div class="icon_heading_container">
                  <span class="logo_cnt">
                    <img src="../../../assets/modal_logo/ticket.png" alt="calendar" />
                  </span>
                  <div class="heading_cnt">
                    <span class="f14">Ticket App</span>
                    <span class="f12">Create new tickets</span>
                  </div>
                </div>

                <div class="icon_heading_container">
                  <span class="logo_cnt">
                    <img src="../../../assets/modal_logo/graduation.png" alt="calendar" />
                  </span>
                  <div class="heading_cnt">
                    <span class="f14">Cources</span>
                    <span class="f12">Create new cource</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="bottom_items">
              <span class="bottom_left">
                <i-feather name="help-circle"></i-feather>
                <span class="f16">Frequently Asked Questions</span>
              </span>

              <button type="button" class="btn bottom_right">Check</button>
            </div>
          </div>

          <div class="right_items">
            <h4 class="f18">Quick Links</h4>
            <span>Pricing Page</span>
            <span>Authentication Design </span>
            <span>Register Now </span>
            <span>404 Error Page </span>
            <span>Notes App </span>
            <span>Employee App </span>
            <span>Todo Application </span>
            <span>Treeview </span>
          </div>
        </div>
      </div>
    </div>

    <span class="d-none header_item d-xl-block me-2">Chat</span>
    <span class="d-none header_item d-xl-block me-2">Calender</span>
    <span class="d-none header_item d-xl-block me-2">Email</span>
  </div>

  <!-- Header Right Content -->
  <div class="header_right_container">
    <div class="d-none d-xl-flex search_container custome_border" type="button" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">
      <i-feather class="seachlogo" name="search"></i-feather>
      <span class="f14">Try Search...</span>
    </div>
    <!-- <i-feather name="grid" class="d-md-block d-lg-none d-xl-none"></i-feather> -->

    <!-- Country Icon Card -->
    <div class="country_logo icons">
      <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../../assets/united-states.png" alt="" />
      </button>

      <div class="dropdown-menu country_items_container">
        <div class="name_country_logo first mt-3">
          <img src="../../../assets/uk.png" alt="" />
          <span class="f14">English</span>
        </div>

        <div class="name_country_logo mt-1">
          <img src="../../../assets/uk.png" alt="" />
          <span class="f14">English</span>
        </div>

        <div class="name_country_logo mt-1">
          <img src="../../../assets/uk.png" alt="" />
          <span class="f14">English</span>
        </div>

        <div class="name_country_logo last mt-1">
          <img src="../../../assets/uk.png" alt="" />
          <span class="f14">English</span>
        </div>
      </div>
    </div>

    <!-- Massage  Card-->
    <div class="icons message_icon_container">
      <i-feather name="message-square" class="d-flex icon dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
      </i-feather>

      <div class="dropdown-menu p-0">
        <div class="message_items message_items_first">
          <span class="f14 message_weight">Messages</span>
          <span class="message_new_btn f12">5 new</span>
        </div>

        <div class="message_items">
          <img src="../../../assets/mesage_user.jpg" alt="" />

          <div class="name_message">
            <span class="f14">Roman Joined the Team!</span>
            <span class="f12">Congratulate him</span>
          </div>
        </div>

        <div class="message_items f14">
          <img src="../../../assets/mesage_user.jpg" alt="" />
          <div class="name_message">
            <span class="f14">Roman Joined the Team!</span>
            <span class="f12">Congratulate him</span>
          </div>
        </div>

        <div class="message_items f14">
          <img src="../../../assets/mesage_user.jpg" alt="" />

          <div class="name_message">
            <span class="f14">Roman Joined the Team!</span>
            <span class="f12">Congratulate him</span>
          </div>
        </div>

        <div class="message_items">
          <img src="../../../assets/mesage_user.jpg" alt="" />

          <div class="name_message ">
            <span class="f14">Roman Joined the Team!</span>
            <span class="f12">Congratulate him</span>
          </div>
        </div>
        <div class="message_items">
          <img src="../../../assets/mesage_user.jpg" alt="" />

          <div class="name_message f14">
            <span class="f14">Roman Joined the Team!</span>
            <span class="f12">Congratulate him</span>
          </div>
        </div>

        <div class="message_itemss see_all_message_btn">
          <button class="btn_body mb-4 p-4 f14 custome_radius border-0">
            See All Messages
          </button>
        </div>
      </div>
    </div>

    <!-- Shortcut Card -->
    <div class="shortcut_icon_container">
      <div class="dropdown-toggle icons icon d-flex" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i-feather name="grid" class="d-flex"> </i-feather>
      </div>

      <div class="dropdown-menu box_shadow border-0">
        <div class="shortcut_items_container">
          <span class="shortcut_heading f16">Shortcuts</span>

          <div class="invoice_chat_cnt col-md-12">
            <div class="invoice_container invoice_items col-md-6">
              <i-feather class="invoice mb-3" name="list"></i-feather>
              <span class="f16">Invoice</span>
              <span class="f14">Get latest Invoce </span>
            </div>

            <div class="chat_container invoice_items col-md-6">
              <i-feather class="chat mb-3" name="message-square"></i-feather>
              <span class="f16">Chat</span>
              <span class="f14">New Messages</span>
            </div>
          </div>

          <div class="contact_email_cnt col-md-12">
            <div class="contact_container invoice_items col-md-6">
              <i-feather class="contact mb-3" name="phone-call"></i-feather>
              <span class="f16">Contact</span>
              <span class="f14">2 Unsaved Contacts</span>
            </div>

            <div class="email_container invoice_items col-md-6">
              <i-feather class="mail mb-3" name="mail"></i-feather>

              <span class="f16">Email</span>
              <span class="f14">Get new emails</span>
            </div>
          </div>

          <div class="todo_calender_cnt col-md-12">
            <div class="todo_container invoice_items col-md-6">
              <i-feather class="todo mb-3" name="phone-call"></i-feather>
              <span class="f16">ToDo</span>
              <span class="f14">Daily Tasks</span>
            </div>

            <div class="calender_container invoice_items col-md-6">
              <i-feather class="calander mb-3" name="calendar"></i-feather>
              <span class="f16">Calender</span>
              <span class="f14">Get Dates</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- User Profile Card -->
    <div class="User_profile_container">
      <div class="dropdown-toggle user_admin rounded-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="admin_image" src="../../../assets/user.jpg" alt="user image" />

        <div class="d-none d-xxl-block">
          <div class="d-flex flex-column mike_admin">
            <h5 class="mike_nielsen text-nowrap">Mike Nielsen</h5>
            <span class="admin_name">Admin</span>
          </div>
        </div>
      </div>

      <div class="dropdown-menu">
        <div class="user_items_body m-3">
          <div class="user_profile_item1">
            <span class="f18">User Profile</span>
          </div>

          <div class="user_profile_item2">
            <img src="../../../assets/user_profile.jpg" alt="" />

            <div class="user_details">
              <span class="f16">Mike Nielsen</span>
              <span class="f14">Admin</span>
              <div class="gap-1">
                <i-feather class="mail" name="mail"></i-feather>
                <span class="f14">infospike.com</span>
              </div>
            </div>
          </div>

          <div class="user_profile_item3">
            <div class="profile_icon">
              <i-feather name="layout"></i-feather>
            </div>
            <div class="user_profile">
              <span class="f16">My Profile</span>
              <span class="f14">Account Settings</span>
            </div>
          </div>
          <div class="user_profile_item3">
            <div class="Inbox_icon">
              <i-feather name="inbox"></i-feather>
            </div>

            <div class="user_profile">
              <span class="f16">My Inbox</span>
              <span class="f14">Messages & Emails</span>
            </div>
          </div>
          <div class="user_profile_item3">
            <div class="Tasks_icon">
              <i-feather name="table"></i-feather>
            </div>

            <div class="user_profile">
              <span class="f16">My Tasks</span>
              <span class="f14">To-do and Daily Tasks</span>
            </div>
          </div>
          <button class="user_profile_logout_cnt f14 border-0" (click)="onLogout()"  routerLink="auth/login">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>