@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "../../../Scss/function";
@import "../../../Scss/base/index";
@import "../../../Scss/mixing";

$base-font-size: 16px;

@function rem($pixels) {
  @return $pixels / $base-font-size * 1rem;
}

.header_container {
  display: flex;
  width: 100% !important;
  height: 100%;

  .header_body {
    width: 100% !important;
    height: rem(70px);
    background-color: var(--bg-high);
    // margin: 20px;

    .header_left_container {
      & button {
        outline: none;
        border: none;
        background-color: transparent;
        font-size: rem(14px);
        // color: #000000;
        color: var(--textColor);
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        height: rem(40px);
        padding: rem(16px) !important;

        &:hover {
          background-color: var(--sidebar-hover-bg);
          border-radius: rem(25px);
          cursor: pointer;
        }
      }

      .apps_icon_conatiner {
        width: 98px;
        border-radius: 26px;

        & i-feather {
          width: 16px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          background-color: var(--sidebar-hover-bg);
        }
      }

      .header_left_logo {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: var(--sidebar-hover-bg);
          border-radius: 50%;
        }
      }
    }
  }
}

.header_right_container {
  float: end !important;

  .search_container {
    border: 1px solid #ccc;
    border-radius: rem(20px);
    padding: rem(14px) !important;
    height: rem(38px);
    cursor: pointer;
    width: rem(185px);
    gap: 4px;

    &:hover {
      background-color: var(--sidebar-hover-bg);
    }

    .seachlogo {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
    }

    .seach input {
      border: none;
      outline: none;
      padding: 5px !important;
      border-radius: 20px;
      background-color: transparent;
    }
    & input::placeholder {
      font-size: rem(15px);
      color: var(--textColor);
    }
  }

  & .icon {
    cursor: pointer;
    height: rem(22px);
    width: rem(22px);
  }

  .icon_menu {
    height: rem(22px);
    width: rem(22px);
  }

  .user_admin {
    width: auto;
    height: rem(48px);
    padding: rem(26px) rem(18px) !important;
    cursor: pointer;

    &:hover {
      background-color: var(--sidebar-hover-bg);
    }

    .admin_image img {
      height: rem(40px);
      width: rem(40px);
      object-fit: cover;
      border-radius: 50%;
    }

    .mike_admin .mike_nielsen {
      color: var(--textColor);
      font-size: rem(16px);
      font-weight: 600;
      font-family: "Plus Jakarta Sans";
    }

    .admin_name {
      font-size: rem(14px);
    }
  }

  .country_logo {
    width: 21px;
    height: 21px;
    border-radius: 50% !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      outline: none;
      border: none;

      // @include flex(center, center, '', 0, 0)
    }
  }
  .country_logo img {
    width: 22px;
    height: 22px;
    display: block;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;

    &:hover {
      background-color: var(--sidebar-hover-bg);
    }
  }
}

.country_items_container {
  flex-direction: column;

  .name_country_logo {
    height: 45px;
    margin-top: 5px !important;
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--sidebar-hover-bg);
    }
  }
  .name_country_logo.first {
    margin-top: 16px;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }
  .name_country_logo.last {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
  }
}

.dropdown-menu.show {
  display: block;
  height: 210px;
  min-width: 116px;
  border-radius: 20px;
  background-color: var(--bg-high);
  color: var(--textColor);
  font-weight: 500;
  transform: translate(909px, 53px) !important;
}

.dropdown-toggle::after {
  display: none;
  margin-left: 0 !important;
  vertical-align: 0 !important;
  content: "";
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}

// Message Icon Modal
.message_icon_container {
  .message_items_first {
    padding: 20px 0 0 28px !important;
  }
  .message_items {
    height: 76px;
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 0 0 0 28px !important;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;

    & img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    .name_message {
      & div:first-child {
        font-weight: 600;
      }

      & div:last-child {
        font-weight: 400;
      }
    }

    .message_weight {
      font-weight: 600;
    }
    .message_new_btn {
      width: 53px;
      height: 24px;
      display: flex;
      justify-content: center;
      background-color: #f8c076;
      align-items: center;
      border-radius: 10px;
      color: var(--textColor);
      cursor: pointer;
    }
  }

  .message_items:not(:first-child):hover {
    background-color: var(--sidebar-hover-bg);
    border-radius: 2px;
  }

  .dropdown-menu.show {
    min-height: 533px !important;
    min-width: 360px;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(662px, 55px) !important;
  }
}
