$mobile: 360px;
$tablet: 768px;
$large: 1024px;
$desktop: 1280px;
$largeDesktop: 1920px;

// --------------- MEDIA QUERY ------------------------
@mixin width-range($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

// common before large device
@include width-range(0px, $large - 1px) {
  main {
    padding-top: 0 !important;
     #menu_toggle{
      display: none;
     }
    aside {
      display: none !important;
    }
  }

}

@include width-range(0px, $desktop - 1px) {

  .details,
  .details2,
  .dashboard_details_items {
    width: 100% !important;
  }

.table_container{
  .items{
    width: 100% !important;
  }
}  .dashboard_details {
    flex-wrap: wrap;
  }

}