$mobile: rem(360);
$landscape: rem(600);
$tablet: rem(768);
$large: rem(1024);
$desktop: rem(1280);
$largeDesktop: rem(1920);

// --------------- MEDIA QUERY ------------------------
@mixin width-range($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

// common before large device
@include width-range(rem(0), $large - rem(1)) {
  main {
    padding-top: 0 !important;

    #menu_toggle {
      display: none;
    }

    aside {
      display: none !important;
    }
  }
  .course_card_container {
    flex-wrap: wrap;
  }
}

@include width-range(0px, $tablet - rem(1)) {
  // Course setion
  .course_container {
    .search_section {
      flex-wrap: wrap;
      .left_search {
        width: 100% !important;
        & input {
          width: 0 !important;
        }
      }
      .right_selection {
        width: 100% !important;
      }
    }
  }
  // contact page modal
  .modal-dialog {
    padding: 0 rem(10) !important;
    .modal-content {
      width: unset !important;
    }
  }
}

@include width-range(rem(0), $desktop - rem(1)) {

  .dashboard_details {
    flex-wrap: wrap;
  }
  .details,
  .details2,
  .dashboard_details_items {
    width: 100% !important;
  }

  .account_main {

    // padding: 0 !important;
    #change_profile,
    .change_password,
    .profile_details {
      width: 100%;
      height: auto !important;
    }
  }

  .table_container {
    .items {
      width: 100% !important;
    }

    .login_section {
      section {
        flex-grow: 1;

        .left {
          display: none;
        }
      }
    }
  }
  // Course page
  .course_container {
    .search_section {
      padding: rem(35) !important;
      height: rem(175) !important;
      min-height: rem(180) !important;

      .left_search {
        width: 100% !important;
      }
      .right_selection {
        width: 100% !important;
        .custome_radius {
          width: 100% !important;
        }
      }
    }
    .course_card_container {
      flex-wrap: wrap;
    }
  }
}

@include width-range(rem(0), $landscape - rem(1)) {
  .login_section {
    section {
      width: 100% !important;
      height: rem(790) !important;

      .login_content .right {
        padding: rem(24) !important;
        .icon_container {
          flex-direction: column !important;
          gap: rem(18) !important;

          .first_btn,
          .second_btn {
            width: 100% !important;
          }
        }
      }
    }
  }

  main .contact_container .user_profile .card {
    flex-grow: 1;
  }

  .contact_container {
    .contact_search_section {
      padding: rem(18) rem(30) !important;
      min-height: rem(180) !important;
      justify-content: center !important;
      align-items: center;
      flex-wrap: wrap;

      .left_items,
      input {
        width: 100% !important;
      }
    }

    .card {
      min-width: 100% !important;
    }
  }
  // Course Page
  .course_container .search_section {
    width: 100%;
    height: rem(180) !important;
    @include flex(center, center, "", 15, 40);
    padding: rem(40) !important;
    .right_selection {
      width: 100% !important;
    }
  }
  .course_container .course_header_section .right .Dashboard {
    display: none;
  }
}

@include width-range(rem(0), $mobile - rem(1)) {
  .login_section section .light-logo {
    display: none !important;
  }

  .dashboard_section {
    .right {

      .circle,
      .contact {
        display: none;
      }
    }
  }
}

@include width-range(rem(0), rem(1400) - rem(1)) {
  .header_body .header_right_container .user_admin {
    width: auto !important;
  }
}