<main>
    <div class="contact_container">
        <div class="dashboard_section custome_radius ">
            <span class="left f20">Contacts</span>
            <div class="right">
                <span class="f14 dashboard">Dashboard</span>
                <span class="circle f14"></span>
                <span class="contact">Contacts</span>
            </div>
        </div>

        <div class="contact_search_section custome_radius">
            <div class="left_items custome_radius flex-nowrap">
                <input type="text" />
                <i-feather name="search" class="d-flex"></i-feather>
            </div>

            <button type="button" class="btn right_items custome_radius f14">Add Contact</button>
        </div>

        <div class="user_profile ">
            <div class="card custome_radius box_shadow">
                <div class="card-body card_items">
                    <img width="50px" src="../../../assets/mesage_user.jpg" alt="user-img">
                    <p class="f18">Johnathan Doe</p>
                    <p class="f14 mb-4">Johnathan Doe</p>
                    <div class="chat-follow d-flex gap-2">
                        <button class="btn btn1 custome_radius f14">Chat</button>
                        <button class="btn btn2 custome_radius f14">Follow</button>
                    </div>
                    <p class="text-center f14">795 Folsom Ave, Suite 600 San Francisco, NY, 10003</p>
                    <p class="text-center f14">Mo: (123) 456-7890</p>
                </div>
                <div class="footer text-light">
                    <div class="social">
                        <i-feather name="instagram"></i-feather>
                        <span class="f14">254</span>
                    </div> 
                    <div class="social">
                        <i-feather name="linkedin"></i-feather>
                        <span class="f14">38</span>
                    </div>
                    <div class="social">
                        <i-feather name="facebook"></i-feather>
                        <span class="f14">178</span>
                    </div>
                </div>
            </div>
            <div class="card custome_radius box_shadow">
                <div class="card-body card_items">
                    <img width="50px" src="../../../assets/mesage_user.jpg" alt="user-img">
                    <p class="f18">Johnathan Doe</p>
                    <p class="f14 mb-4">Johnathan Doe</p>
                    <div class="chat-follow d-flex gap-2">
                        <button class="btn btn1 custome_radius f14">Chat</button>
                        <button class="btn btn2 custome_radius f14">Follow</button>
                    </div>
                    <p class="text-center f14">795 Folsom Ave, Suite 600 San Francisco, NY, 10003</p>
                    <p class="text-center f14">Mo: (123) 456-7890</p>
                </div>
                <div class="footer text-light">
                    <div class="social">
                        <i-feather name="instagram"></i-feather>
                        <span class="f14">254</span>
                    </div> 
                    <div class="social">
                        <i-feather name="linkedin"></i-feather>
                        <span class="f14">38</span>
                    </div>
                    <div class="social">
                        <i-feather name="facebook"></i-feather>
                        <span class="f14">178</span>
                    </div>
                </div>
            </div>
            <div class="card custome_radius box_shadow">
                <div class="card-body card_items">
                    <img width="50px" src="../../../assets/mesage_user.jpg" alt="user-img">
                    <p class="f18">Johnathan Doe</p>
                    <p class="f14 mb-4">Johnathan Doe</p>
                    <div class="chat-follow d-flex gap-2">
                        <button class="btn btn1 custome_radius f14">Chat</button>
                        <button class="btn btn2 custome_radius f14">Follow</button>
                    </div>
                    <p class="text-center f14">795 Folsom Ave, Suite 600 San Francisco, NY, 10003</p>
                    <p class="text-center f14">Mo: (123) 456-7890</p>
                </div>
                <div class="footer text-light">
                    <div class="social">
                        <i-feather name="instagram"></i-feather>
                        <span class="f14">254</span>
                    </div> 
                    <div class="social">
                        <i-feather name="linkedin"></i-feather>
                        <span class="f14">38</span>
                    </div>
                    <div class="social">
                        <i-feather name="facebook"></i-feather>
                        <span class="f14">178</span>
                    </div>
                </div>
            </div>
            <div class="card custome_radius box_shadow">
                <div class="card-body card_items">
                    <img width="50px" src="../../../assets/mesage_user.jpg" alt="user-img">
                    <p class="f18">Johnathan Doe</p>
                    <p class="f14 mb-4">Johnathan Doe</p>
                    <div class="chat-follow d-flex gap-2">
                        <button class="btn btn1 custome_radius f14">Chat</button>
                        <button class="btn btn2 custome_radius f14">Follow</button>
                    </div>
                    <p class="text-center f14">795 Folsom Ave, Suite 600 San Francisco, NY, 10003</p>
                    <p class="text-center f14">Mo: (123) 456-7890</p>
                </div>
                <div class="footer text-light">
                    <div class="social">
                        <i-feather name="instagram"></i-feather>
                        <span class="f14">254</span>
                    </div> 
                    <div class="social">
                        <i-feather name="linkedin"></i-feather>
                        <span class="f14">38</span>
                    </div>
                    <div class="social">
                        <i-feather name="facebook"></i-feather>
                        <span class="f14">178</span>
                    </div>
                </div>
            </div>
            <div class="card custome_radius box_shadow">
                <div class="card-body card_items">
                    <img width="50px" src="../../../assets/mesage_user.jpg" alt="user-img">
                    <p class="f18">Johnathan Doe</p>
                    <p class="f14 mb-4">Johnathan Doe</p>
                    <div class="chat-follow d-flex gap-2">
                        <button class="btn btn1 custome_radius f14">Chat</button>
                        <button class="btn btn2 custome_radius f14">Follow</button>
                    </div>
                    <p class="text-center f14">795 Folsom Ave, Suite 600 San Francisco, NY, 10003</p>
                    <p class="text-center f14">Mo: (123) 456-7890</p>
                </div>
                <div class="footer text-light">
                    <div class="social">
                        <i-feather name="instagram"></i-feather>
                        <span class="f14">254</span>
                    </div> 
                    <div class="social">
                        <i-feather name="linkedin"></i-feather>
                        <span class="f14">38</span>
                    </div>
                    <div class="social">
                        <i-feather name="facebook"></i-feather>
                        <span class="f14">178</span>
                    </div>
                </div>
            </div>
            <div class="card custome_radius box_shadow">
                <div class="card-body card_items">
                    <img width="50px" src="../../../assets/mesage_user.jpg" alt="user-img">
                    <p class="f18">Johnathan Doe</p>
                    <p class="f14 mb-4">Johnathan Doe</p>
                    <div class="chat-follow d-flex gap-2">
                        <button class="btn btn1 custome_radius f14">Chat</button>
                        <button class="btn btn2 custome_radius f14">Follow</button>
                    </div>
                    <p class="text-center f14">795 Folsom Ave, Suite 600 San Francisco, NY, 10003</p>
                    <p class="text-center f14">Mo: (123) 456-7890</p>
                </div>
                <div class="footer text-light">
                    <div class="social">
                        <i-feather name="instagram"></i-feather>
                        <span class="f14">254</span>
                    </div> 
                    <div class="social">
                        <i-feather name="linkedin"></i-feather>
                        <span class="f14">38</span>
                    </div>
                    <div class="social">
                        <i-feather name="facebook"></i-feather>
                        <span class="f14">178</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>