<main>
  <div class="contact_container">
    <div class="dashboard_section custome_radius">
      <span class="left f20">Contacts</span>
      <div class="right">
        <span class="f14 dashboard">Dashboard</span>
        <span class="circle f14"></span>
        <span class="contact">Contacts</span>
      </div>
    </div>

    <div class="contact_search_section custome_radius">
      <div class="left_items custome_radius flex-nowrap">
        <input class="f14" type="text" placeholder="Search here..." />
        <i-feather name="search" class="d-flex"></i-feather>
      </div>

      <button
        type="button"
        class="btn right_items custome_radius f14"
        data-bs-toggle="modal"
        data-bs-target="#contactpagegemodal"
      >
        Add Contact
      </button>
    </div>

    <div class="user_profile">
      <div class="card custome_radius box_shadow">
        <div class="card-body card_items">
          <img src="../../../assets/mesage_user.jpg" alt="user-img" />
          <p class="f18">Johnathan Doe</p>
          <p class="f14 mb-3">Web Designer</p>
          <div class="chat-follow d-flex gap-2">
            <button class="btn btn1 custome_radius f14">Chat</button>
            <button class="btn btn2 custome_radius f14">Follow</button>
          </div>
          <p class="text-center f14">
            795 Folsom Ave, Suite 600 San Francisco, NY, 10003
          </p>
          <p class="text-center f14">Mo: (123) 456-7890</p>
        </div>
        <div class="footer text-light">
          <div class="social">
            <i-feather class="f24" name="instagram"></i-feather>
            <span class="f14">254</span>
          </div>
          <div class="social">
            <i-feather class="f24" name="linkedin"></i-feather>
            <span class="f14">38</span>
          </div>
          <div class="social">
            <i-feather class="f24" name="facebook"></i-feather>
            <span class="f14">178</span>
          </div>
        </div>
      </div>

      <div class="card custome_radius box_shadow">
        <div class="card-body card_items">
          <img
            src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-8.jpg"
            alt="user-img"
          />
          <p class="f18">Johnathan Doe</p>
          <p class="f14 mb-3">Theme Designer</p>
          <div class="chat-follow d-flex gap-2">
            <button class="btn btn1 custome_radius f14">Chat</button>
            <button class="btn btn2 custome_radius f14">Follow</button>
          </div>
          <p class="text-center f14">
            795 Folsom Ave, Suite 600 San Francisco, NY, 10003
          </p>
          <p class="text-center f14">Mo: (123) 456-7890</p>
        </div>
        <div class="footer text-light">
          <div class="social">
            <i-feather class="f24" class="f24" name="instagram"></i-feather>
            <span class="f14">254</span>
          </div>
          <div class="social">
            <i-feather class="f24" class="f24" name="linkedin"></i-feather>
            <span class="f14">38</span>
          </div>
          <div class="social">
            <i-feather class="f24" class="f24" name="facebook"></i-feather>
            <span class="f14">178</span>
          </div>
        </div>
      </div>

      <div class="card custome_radius box_shadow">
        <div class="card-body card_items">
          <img
            src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-3.jpg"
            alt="user-img"
          />
          <p class="f18">Johnathan Doe</p>
          <p class="f14 mb-3">Frontend Developer</p>
          <div class="chat-follow d-flex gap-2">
            <button class="btn btn1 custome_radius f14">Chat</button>
            <button class="btn btn2 custome_radius f14">Follow</button>
          </div>
          <p class="text-center f14">
            795 Folsom Ave, Suite 600 San Francisco, NY, 10003
          </p>
          <p class="text-center f14">Mo: (123) 456-7890</p>
        </div>
        <div class="footer text-light">
          <div class="social">
            <i-feather class="f24" name="instagram"></i-feather>
            <span class="f14">254</span>
          </div>
          <div class="social">
            <i-feather class="f24" name="linkedin"></i-feather>
            <span class="f14">38</span>
          </div>
          <div class="social">
            <i-feather class="f24" name="facebook"></i-feather>
            <span class="f14">178</span>
          </div>
        </div>
      </div>

      <div class="card custome_radius box_shadow">
        <div class="card-body card_items">
          <img
            src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-5.jpg"
            alt="user-img"
          />
          <p class="f18">Johnathan Doe</p>
          <p class="f14 mb-3">DevOps Engineer</p>
          <div class="chat-follow d-flex gap-2">
            <button class="btn btn1 custome_radius f14">Chat</button>
            <button class="btn btn2 custome_radius f14">Follow</button>
          </div>
          <p class="text-center f14">
            795 Folsom Ave, Suite 600 San Francisco, NY, 10003
          </p>
          <p class="text-center f14">Mo: (123) 456-7890</p>
        </div>
        <div class="footer text-light">
          <div class="social">
            <i-feather class="f24" name="instagram"></i-feather>
            <span class="f14">254</span>
          </div>
          <div class="social">
            <i-feather class="f24" name="linkedin"></i-feather>
            <span class="f14">38</span>
          </div>
          <div class="social">
            <i-feather class="f24" name="facebook"></i-feather>
            <span class="f14">178</span>
          </div>
        </div>
      </div>

      <div class="card custome_radius box_shadow">
        <div class="card-body card_items">
          <img
            src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-6.jpg"
            alt="user-img"
          />
          <p class="f18">Johnathan Doe</p>
          <p class="f14 mb-3">Backend Developer</p>
          <div class="chat-follow d-flex gap-2">
            <button class="btn btn1 custome_radius f14">Chat</button>
            <button class="btn btn2 custome_radius f14">Follow</button>
          </div>
          <p class="text-center f14">
            795 Folsom Ave, Suite 600 San Francisco, NY, 10003
          </p>
          <p class="text-center f14">Mo: (123) 456-7890</p>
        </div>
        <div class="footer text-light">
          <div class="social">
            <i-feather class="f24" class="f24" name="instagram"></i-feather>
            <span class="f14">254</span>
          </div>
          <div class="social">
            <i-feather class="f24" class="f24" name="linkedin"></i-feather>
            <span class="f14">38</span>
          </div>
          <div class="social">
            <i-feather class="f24" class="f24" name="facebook"></i-feather>
            <span class="f14">178</span>
          </div>
        </div>
      </div>

      <div class="card custome_radius box_shadow">
        <div class="card-body card_items">
          <img
            src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user-7.jpg    "
            alt="user-img"
          />
          <p class="f18">Johnathan Doe</p>
          <p class="f14 mb-3">Graphics Designer</p>
          <div class="chat-follow d-flex gap-2">
            <button class="btn btn1 custome_radius f14">Chat</button>
            <button class="btn btn2 custome_radius f14">Follow</button>
          </div>
          <p class="text-center f14">
            795 Folsom Ave, Suite 600 San Francisco, NY, 10003
          </p>
          <p class="text-center f14">Mo: (123) 456-7890</p>
        </div>
        <div class="footer text-light">
          <div class="social">
            <i-feather class="f24" name="instagram"></i-feather>
            <span class="f14">254</span>
          </div>
          <div class="social">
            <i-feather class="f24" name="linkedin"></i-feather>
            <span class="f14">38</span>
          </div>
          <div class="social">
            <i-feather class="f24" name="facebook"></i-feather>
            <span class="f14">178</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Contact page modal -->
  <div
    class="modal fade"
    id="contactpagegemodal"
    tabindex="-1"
    aria-labelledby="contactpagegemodal"
    aria-hidden="true"
  >
    <div class="modal-dialog add_emp_modal_dialog">
      <div class="modal-content modal_items custome_radius box_shadow">
        <div class="modal-body add_employee_body">
          <h3 class="f18 ms-2 heading">Add New Contact</h3>
          <input
            type="text"
            class="form-control mt-3"
            placeholder="Name Here"
          />
          <input type="text" class="form-control" placeholder="Post Here" />
          <input type="text" class="form-control" placeholder="Address Here" />
          <input type="text" class="form-control" placeholder="Number Here" />
          <input
            type="text"
            class="form-control"
            placeholder="Instagram Follower Here"
          />
          <input
            type="text"
            class="form-control"
            placeholder="Linkedin Follower Here"
          />
          <input
            type="text"
            class="form-control"
            placeholder="Facebook Follower Here"
          />
        </div>

        <div class="modal-footer">
          <button
            id="cancel_button"
            type="button"
            class="btn"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn enabled disabled custome_radius">
            Add Contact
          </button>
        </div>
      </div>
    </div>
  </div>
  
</main>
