@import "../../../styles.scss";

%btn {
  @include flex(center, center, "", 0, 0);
  color: var(--white);
}

.contact-container {
  overflow-y: auto;
  height: 1000px;

  &::-webkit-scrollbar {
    width: 0;
  }
}

main {
  .contact_container {
    @include setDimension(100%, 100%);
    @include flex("", "", column, 30, 0);

    .dashboard_section {
      @include setDimension(100%, rem(81));
      min-height: rem(81);
      background-color: var(--bg-high);
      @include flex(space-between, center, "", 0, 1);
      padding: 0 rem(30);

      .left {
        color: var(--text-color-600);
        font-weight: 600;
      }

      .right {
        @include flex(center, center, "", 15, 0);

        .dashboard {
          color: var(--quick-link-hover-color);
          cursor: pointer;
        }

        .circle {
          @include setDimension(rem(5), rem(5));
          background-color: var(--textColor);
          border-radius: 50%;
        }

        .contact {
          color: var(--textColor);
          cursor: pointer;
        }
      }
    }

    .contact_search_section {
      @include setDimension(100%, rem(116));
      min-height: rem(116);
      background-color: var(--bg-high);
      @include flex(space-between, center, "", 15, 0);
      padding: 0 rem(30);

      .left_items {
        @include setDimension(rem(360), rem(52));
        @include flex(space-between, center, "", 0, 0);
        border: rem(1) solid var(--textColor-400);
        padding-right: rem(18);

        &:hover {
          border: rem(2) solid var(--contact-user-bg);
          cursor: pointer;
        }

        & input {
          @include setDimension(rem(360), rem(50));
          background-color: var(--bg-high);
          color: var(--text-color-600);
          border: 0;
          border-top-left-radius: rem(18);
          border-bottom-left-radius: rem(18);
          padding-left: rem(15);

          &:hover {
            border: rem(1) solid var(--contact-user-bg);
            border-width: rem(1) 0;
            cursor: pointer;
          }

          &:focus {
            outline: 0;
          }

          &::placeholder {
            color: var(--textColor-400);
          }
        }

        & i-feather {
          @include setDimension(rem(18), rem(18));
          color: var(--text-color-600);
        }
      }

      .right_items {
        @include minwidth_minheight(rem(120), rem(36));
        background-color: var(--contact-user-bg);
        color: var(--white);
      }
    }

    .user_profile {
      flex-grow: 1;
      // @include flex("", "", "", 20, 0);
      display: grid;
      grid-template-rows: repeat(1, 2fr);
      grid-template-columns: repeat(3, 3fr);
      gap: rem(28);
      padding: rem(5);
      .card {
        // @include setDimension(rem(408), rem(433));
        background-color: var(--bg-high);
        // flex-grow: 1;

        .card_items {
          @include flex(center, center, column, 13, 36);
          color: var(--text-color-600);
          // flex-grow: 1;

          .mb-3 {
            margin-top: rem(-7);
          }

          & img {
            width: rem(50);
            @include rounded_icons(100, 100, "");
          }

          .chat-follow {
            .btn1 {
              @include setDimension(rem(60), rem(34));
              background-color: var(--contact-user-bg);
              @extend %btn;
            }

            .btn2 {
              @extend %btn;
              @include setDimension(rem(70), rem(34));
              background-color: var(--contact-page-btn-color);
            }
          }
        }

        .footer {
          @include flex(space-between, center, "", 0, 0);
          @include setDimension(100%, rem(40));
          border-top: rem(1) solid var(--input-border-color);
          padding: 0 rem(30);

          .social {
            @include flex(center, center, "", 6, 0);
            cursor: pointer;
            color: var(--text-color-400);
          }
        }
      }
    }
  }
}

// Contact page modal
.add_emp_modal_dialog {
  margin-top: 5%;

  .modal_items {
    @include setDimension(rem(600), rem(730));
    background-color: var(--bg-high);

    .add_employee_body {
      @include flex("", "", column, 22, 0);
      padding: 0 rem(25);
      max-height: rem(700);
      overflow-y: auto;

      .heading {
        margin-top: rem(30);
        color: var(--text-color-600);
        font-weight: 600;
      }

      input {
        background-color: var(--bg-high);
        border-radius: rem(18);
        box-shadow: none;
        @include setDimension(100%, rem(55));
        min-height: rem(55);
        color: var(--text-color-600);
        border: rem(1) solid var(--input-border-color);
        cursor: pointer;

        &::placeholder {
          font-size: rem(14);
          color: var(--text-color-400);
        }

        &:focus {
          border: rem(2) solid var(--input-modal-outline-color);
        }
      }
    }

    .modal-footer {
      @include flex(flex-start, center, "", 0, 0);
      @include setDimension(100%, rem(85));
      padding-left: rem(20);
      border-top: rem(1) solid var(--input-border-color);

      #cancel_button {
        @include setDimension(rem(79), rem(36));
        border-radius: rem(18);
        border: rem(1) solid var(--hold-text);
        font-size: rem(14);
        color: var(--hold-text);
      }

      .disabled {
        @include setDimension(rem(117), rem(36));
        font-size: rem(14);
        text-wrap: nowrap;
        border: none;
        background-color: var(--contact-page-btn-color);
        color: var(--text-color-600);
      }
    }
  }
}