<div class="course_container">
  <div class="course_header_section custom_radius">
    <span class="left f20">Courses</span>
    <div class="right">
      <span class="f14 Dashboard">Dashboard</span>
      <span class="circle f14"></span>
      <span class="contact">Courses</span>
    </div>
  </div>

  <div class="search_section custom_radius">
    <div class="left_search custom_radius flex-nowrap input-wrapper">
      <input class="f14" type="text" id="search" placeholder=" " />
      <label for="search" class="f14 search">Search</label>
      <i-feather name="search" class="f24"></i-feather>
    </div>

    <div class="right_selection custom_radius">
      <select class="custom_radius form-select f14 gap-5">
        <option class="first" selected>All</option>
        <option value="Web">Web</option>
        <option value="Android">Android</option>
        <option value="Angular">Angular</option>
        <option value="Design">Design</option>
      </select>
    </div>
  </div>

  <!-- Course card -->
  <div class="course_card_container">
    <div class="card course_card custom_radius box_shadow">
      <div class="card-body course_body">
        <div class="course_header blue">
          <span class="f16 fw-bold">Web</span>
          <div class="time_icon">
            <i-feather name="clock" class="clock_icon"></i-feather>
            <span class="f14">30 min</span>
          </div>
        </div>
        <div class="course_content">
          <span class="f16">HTML Crash Course</span>
          <span class="f12">Updated 21 Jan 2020</span>
        </div>
        <div class="course_footer">
          <span class="custom_radius">START</span>
        </div>
      </div>
    </div>

    <div class="card course_card custom_radius box_shadow">
      <div class="card-body course_body">
        <div class="course_header salmon">
          <span class="f16 fw-bold">Angular</span>
          <div class="time_icon">
            <i-feather name="clock" class="clock_icon"></i-feather>
            <span class="f14">90 min</span>
          </div>
        </div>
        <div class="course_content">
          <span class="f16">Angular Course</span>
          <span class="f12">Updated 25 Jan 2020</span>
        </div>
        <div class="course_footer">
          <span class="custom_radius">START</span>
        </div>
      </div>
    </div>

    <div class="card course_card custom_radius box_shadow">
      <div class="card-body course_body">
        <div class="course_header yellow">
          <span class="f16 fw-bold">Android</span>
          <div class="time_icon">
            <i-feather name="clock" class="clock_icon"></i-feather>
            <span class="f14">30 min</span>
          </div>
        </div>
        <div class="course_content">
          <span class="f16">Android Crash Course</span>
          <span class="f12">Updated 30 Jan 2020</span>
        </div>
        <div class="course_footer">
          <span class="custom_radius">START</span>
        </div>
      </div>
    </div>

    <div class="card course_card custom_radius box_shadow">
      <div class="card-body course_body">
        <div class="course_header grey">
          <span class="f16 fw-bold">Design</span>
          <div class="time_icon">
            <i-feather name="clock" class="clock_icon"></i-feather>
            <span class="f14">50 min</span>
          </div>
        </div>
        <div class="course_content">
          <span class="f16">Web Designing Course</span>
          <span class="f12">Updated 01 Feb 2020</span>
        </div>
        <div class="course_footer">
          <span class="custom_radius">START</span>
        </div>
      </div>
    </div>

    <div class="card course_card custom_radius box_shadow">
      <div class="card-body course_body">
        <div class="course_header blue">
          <span class="f16 fw-bold">Design</span>
          <div class="time_icon">
            <i-feather name="clock" class="clock_icon"></i-feather>
            <span class="f14">120 min</span>
          </div>
        </div>
        <div class="course_content">
          <span class="f16">Basics of TypeScript</span>
          <span class="f12">Updated 15 Feb 2020</span>
        </div>
        <div class="course_footer">
          <span class="custom_radius">START</span>
        </div>
      </div>
    </div>

    <div class="card course_card custom_radius box_shadow">
      <div class="card-body course_body">
        <div class="course_header yellow">
          <span class="f16 fw-bold">Android</span>
          <div class="time_icon">
            <i-feather name="clock" class="clock_icon"></i-feather>
            <span class="f14">60 min</span>
          </div>
        </div>
        <div class="course_content">
          <span class="f16">Android N: Quick Settings</span>
          <span class="f12">Updated 16 Feb 2020</span>
        </div>
        <div class="course_footer">
          <span class="custom_radius">START</span>
        </div>
      </div>
    </div>

    <div class="card course_card custom_radius box_shadow">
      <div class="card-body course_body">
        <div class="course_header blue">
          <span class="f16 fw-bold">Web</span>
          <div class="time_icon">
            <i-feather name="clock" class="clock_icon"></i-feather>
            <span class="f14">90 min</span>
          </div>
        </div>
        <div class="course_content">
          <span class="f16">First Progressive Web App</span>
          <span class="f12">Updated 18 Feb 2020</span>
        </div>
        <div class="course_footer">
          <span class="custom_radius">START</span>
        </div>
      </div>
    </div>

    <div class="card course_card custom_radius box_shadow">
      <div class="card-body course_body">
        <div class="course_header salmon">
          <span class="f16 fw-bold">Angular</span>
          <div class="time_icon">
            <i-feather name="clock" class="clock_icon"></i-feather>
            <span class="f14">150 min</span>
          </div>
        </div>
        <div class="course_content">
          <span class="f16">First Progressive Web App</span>
          <span class="f12">Updated 20 Feb 2020</span>
        </div>
        <div class="course_footer">
          <span class="custom_radius">START</span>
        </div>
      </div>
    </div>

    <div class="card course_card custom_radius box_shadow">
      <div class="card-body course_body">
        <div class="course_header grey">
          <span class="f16 fw-bold">Design</span>
          <div class="time_icon">
            <i-feather name="clock" class="clock_icon"></i-feather>
            <span class="f14">80 min</span>
          </div>
        </div>
        <div class="course_content">
          <span class="f16">PSD to HTML From Scratch</span>
          <span class="f12">Updated 21 Feb 2020</span>
        </div>
        <div class="course_footer">
          <span class="custom_radius">START</span>
        </div>
      </div>
    </div>
  </div>
</div>