@import "../Scss/function";
@import "../Scss/base/variables";
@import "../Scss/mixing";

main {
  @include setDimension(100vw, 100vh);
  background-color: var(--bg);

  section {
    flex-grow: 1;
    overflow-y: auto;

    .wrapper {
      @include flex(center, center, column, 16, 25);

      header {
        @include setDimension(100%, rem(70));
        @include flex("", center, "", 0, 0);
        min-height: rem(70);
        background-color: var(--bg-high);
        color: var(--textColor);
      }
    }
  }

  .offcanvas-start {
    background-color: transparent;
    overflow-y: hidden !important;
    border: none;
  }

  .setting {
    position: absolute;
    bottom: 10%;
    right: rem(30);
    color: var(--bg);
    @include setDimension(rem(30), rem(30));
    @include flex(center, center, row, 0, 0);
    cursor: pointer;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      @include rounded_icons(60, 60, var(--outlined-btn));
      z-index: -1;
      top: rem(-15);
      left: rem(-15);
    }
  }
}

