<main *ngIf="authService.isLogin | async" class="d-flex light-theme">
  <aside class="">
    <app-sidebar></app-sidebar>
  </aside>

  <section>
    <div class="wrapper container-lg">
      <header class="sticky-top custome_radius box_shadow">
        <div class="w-100">
          <app-header></app-header>
        </div>
      </header>

      <div class="w-100 mt-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
  <div
    class="offcanvas offcanvas-start"
    data-bs-backdrop="false"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-body overflow-hidden p-0">
      <app-sidebar></app-sidebar>
    </div>
  </div>

  <i-feather class="setting" name="settings"></i-feather>
</main>

<router-outlet *ngIf="!(authService.isLogin | async)"></router-outlet>
