<main *ngIf="authService.isLogin | async" class="d-flex light-theme">
  <aside class="">
    <app-sidebar></app-sidebar>
  </aside>

  <section>
    <div class="wrapper container-lg">
      <header class="sticky-top custome_radius box_shadow">
        <div class="w-100">
          <app-header></app-header>
        </div>
      </header>

      <div class="w-100 mt-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>

  <div class="offcanvas offcanvas-start" data-bs-backdrop="false" id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-body overflow-hidden p-0">
      <app-sidebar></app-sidebar>
    </div>
  </div>

  <!-- Search Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal_dialogs">
      <div class="modal-content p-1 modal_contents" style="border-radius: 16px !important">
        <div class="modal-header modal_header input_filed_container">
          <input type="email" class="form-control custome_radius" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Seach here" />
          <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body p-0 mt-3 search_modal_body">
          <h5 class="search_modal_heading">Quick page Links</h5>
          
          <h6 class="heading">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>

          <h6 class="heading mt-4">Dashboard 1</h6>
          <span class="summary">/dashboards/dashboard1</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact page modal -->
  <div
    class="modal fade"
    id="contactpagegemodal"
    tabindex="-1"
    aria-labelledby="contactpagegemodal"
    aria-hidden="true"
  >
    <div class="modal-dialog add_emp_modal_dialog">
      <div class="modal-content modal_items custome_radius box_shadow">
        <div class="modal-body add_employee_body">
          <h3 class="f18 ms-2 heading">Add New Contact</h3>
          <input
            type="text"
            class="form-control mt-3"
            placeholder="Name Here"
          />
          <input type="text" class="form-control" placeholder="Post Here" />
          <input type="text" class="form-control" placeholder="Address Here" />
          <input type="text" class="form-control" placeholder="Number Here" />
          <input
            type="text"
            class="form-control"
            placeholder="Instagram Follower Here"
          />
          <input
            type="text"
            class="form-control"
            placeholder="Linkedin Follower Here"
          />
          <input
            type="text"
            class="form-control"
            placeholder="Facebook Follower Here"
          />
        </div>

        <div class="modal-footer">
          <button
            id="cancel_button"
            type="button"
            class="btn"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn enabled disabled custome_radius">
            Add Contact
          </button>
        </div>
      </div>
    </div>
  </div>
  <i-feather class="setting" name="settings"></i-feather>
</main>

<main *ngIf="!(authService.isLogin | async)" class="d-flex light-theme">
  <section>
    <div class="wrapper container-lg">
      <div class="w-100 mt-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</main>