<div class="sidebar_container">

    <div class="side_header">

        <!-- image in light theme -->

        <div class="light_img">
            <img class="img-fluid dark-logo"
                src="https://spike-angular-pro-main.netlify.app/assets/images/logos/dark-logo.svg" alt="">

        </div>
        <!-- image in dark theme -->
        <div class="dark_img">
            <img id="dark_img" class="img-fluid light-logo"
                src="https://spike-angular-pro-main.netlify.app/assets/images/logos/light-logo.svg" alt="">
        </div>
    </div>

    <div class="side_overview">

    </div>
    <div class="side_footer container ">
        <div class="wrapper col-md-10 h-100 custome_radius">
            <img class="img-fluid" src="https://spike-angular-pro-main.netlify.app/assets/images/profile/user5.jpg"
                alt="">

            <div class="login_user">
                <span class="f18 "><strong>Mike</strong></span>
                <span class="f14">Admin</span>
            </div>

            <i-feather name="log-out"></i-feather>
        </div>

    </div>
</div>