<header class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <span class="f18 h5">Latest Deals</span>
      <span class="f12">Last 7 days</span>
    </div>
    <div class="d-flex flex-column text-center">
      <span class="payment_btn f12">-3.8%</span>
    </div>
  </header>

  <div class="card-body "></div>

  <footer class="latest_deal d-flex w-100 align-items-center">
    <img class="items" width="40px" src="https://cdn-icons-png.flaticon.com/128/17596/17596838.png" alt="" />

    <img class="items" width="40px" src="https://cdn-icons-png.flaticon.com/128/2202/2202112.png " alt="" />

    <img class="items" width="40px" src="https://cdn-icons-png.flaticon.com/128/4140/4140037.png" alt="" />

    <img class="items" width="40px" src="https://cdn-icons-png.flaticon.com/128/6997/6997662.png" alt="" />
    <a class="items"><span class="f14">+8</span></a>
  </footer>