<main class="d-flex gap-3 light-theme">
      <aside class="">
            <app-sidebar></app-sidebar>
      </aside>

      <section>
            <div class="wrapper container-lg">
                  <header class="sticky-top custome_radius box_shadow ">
                        <div class="w-100">
                              <app-header></app-header>
                        </div>
                  </header>

                  <div class="section_overview ">

                        <div class="dashboard_details border-0">

                              <!-- details -->
                              <div class="dashboard_details_items details1">
                                   
                                    <div class="details1_top border-start-0 border-top-0 border-end-0 custome_border d-flex">
                                          <div class="w-50 col-sm-12 bg-danger">
                                                hello
                                          </div>
                                          <div class="w-50">right</div>
                                    </div>
                                    <div class="details1_bottom">bottom</div>
                                     
                              </div>



                              <!-- other details -->
                              <div class="dashboard_details_items  bg-danger">
                                    hello
                              </div>
                        </div>























                        <div class="dashboard_details2">
                              <ul>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                                    <li>list-50</li>
                              </ul>
                        </div>
                  </div>
            </div>
      </section>


      <!-- Search Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal_dialogs">
                  <div class="modal-content p-4" style="border-radius: 16px !important">
                        <div class="modal-header modal_header">
                              <div class="input_filed_container">
                                    <div class="input_filed">
                                          <input type="email" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="Seach here" />
                                    </div>

                                    <div>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                              </div>
                        </div>

                        <div class="modal-body p-0 mt-3 search_modal_body">
                              <h4><span class="f18">Quick Page Links</span></h4>

                              <div class="list_container mt-4">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Dashboard1</span>
                                          </div>

                                          <div><span class="f12">/dashboards/dashboard1</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Dashboard2</span>
                                          </div>

                                          <div><span class="f12">/dashboards/dashboard2</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Chat </span>
                                          </div>

                                          <div><span class="f12">apps/chat</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14"> Calendar </span>
                                          </div>

                                          <div><span class="f12"> apps/calendar</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14"> Email </span>
                                          </div>
                                          <div><span class="f12"> apps/email/inbox</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14"> Contacts </span>
                                          </div>

                                          <div><span class="f12"> apps/contacts</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14"> Courses </span>
                                          </div>

                                          <div><span class="f12">apps/courses</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Employee </span>
                                          </div>

                                          <div><span class="f12"> apps/employee</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Notes </span>
                                          </div>

                                          <div><span class="f12"> apps/notes</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Tickets </span>
                                          </div>

                                          <div><span class="f12"> apps/tickets</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Invoice </span>
                                          </div>

                                          <div><span class="f12"> apps/invoice</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">ToDo
                                                </span>
                                          </div>

                                          <div><span class="f12"> apps/todo </span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Taskboard

                                                </span>
                                          </div>

                                          <div><span class="f12"> apps/taskboard</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Blog


                                                </span>
                                          </div>

                                          <div><span class="f12"> apps/blog</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Roll Base Access

                                                </span>
                                          </div>

                                          <div><span class="f12">apps/permission</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Treeview


                                                </span>
                                          </div>

                                          <div><span class="f12">theme-pages/treeview</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">Pricing



                                                </span>
                                          </div>

                                          <div><span class="f12">theme-pages/pricing</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">FAQ

                                                </span>
                                          </div>

                                          <div><span class="f12">theme-pages/faq</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">FAQ

                                                </span>
                                          </div>

                                          <div><span class="f12">theme-pages/faq</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">FAQ

                                                </span>
                                          </div>

                                          <div><span class="f12">theme-pages/faq</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">FAQ

                                                </span>
                                          </div>

                                          <div><span class="f12">theme-pages/faq</span></div>
                                    </div>
                              </div>

                              <div class="list_container mt-2">
                                    <div class="list_items_container d-flex gap-0">
                                          <div>
                                                <span class="f14">FAQ

                                                </span>
                                          </div>

                                          <div><span class="f12">theme-pages/faq</span></div>
                                    </div>
                              </div>

                        </div>
                  </div>
            </div>
      </div>

      <!-- App Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal_dialog">
                  <div class="modal-content app_modal_header">
                        <div class="modal-header p-4 ">

                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>

                        <div class="modal-body App_modal_body rounded-3 cold-md-12">
                              <div class="items col-md-4 "></div>
                              <div class="items col-md-4 "></div>
                              <div class="items_last col-md-4 "></div>
                        </div>

                  </div>
            </div>
      </div>


      <!-- Country Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog country_modal_dialogs ">
                  <div class="modal-content p-4 rounded-4 shadow modal_content">

                        <div class="modal-body gap-0 modal_body">

                              <div class="country_logo_container first">
                                    <div><img src="../../../assets/uk.png" alt="" /></div>
                                    <div> <span class="f14 English">English</span></div>
                              </div>


                              <div class="country_logo_container">
                                    <div><img src="../../../assets/uk.png" alt="" /></div>
                                    <div> <span class="f14">Espanol</span></div>
                              </div>

                              <div class="country_logo_container">
                                    <div><img src="../../../assets/uk.png" alt="" /></div>
                                    <div> <span class="f14">Francais</span></div>
                              </div>

                              <div class="country_logo_container">
                                    <div><img src="../../../assets/uk.png" alt="" /></div>
                                    <div> <span class="f14">German</span></div>
                              </div>


                        </div>

                  </div>
            </div>
      </div>


</main>