<div class="section_overview">

  <!-- dashboard details -->
  <div class="dashboard_details gap-4">
    <!-- details container-->
    <div class="dashboard_details_items details1 col-md-6 custome_radius box_shadow">
      <!-- for the details -->
      <div class="details1_top  custome_bottom_border d-flex">
        <div class="d-flex flex-column flex-grow-1 p-4 order_summary">
          <span class="f18 h5">Congratulations Jonathan</span>
          <span class="f14">You have done 38% more sales</span>

          <div class="icons d-flex h-100 w-100 p-2 gap-4 flex-column justify-content-evenly">
            <!-- Processig -->
            <div class="processing d-flex gap-4 align-items-center">
              <i-feather class="lock f24" name="lock"></i-feather>
              <div>
                <h5 class="f16 mb-1">64 New Orders</h5>
                <h6 class="f14">Processing</h6>
              </div>
            </div>

            <!-- hold -->
            <div class="processing d-flex gap-4 align-items-center">
              <i-feather class="pause f24" name="pause"></i-feather>
              <div>
                <h5 class="f16 mb-1">4 Orders</h5>
                <h6 class="f14">On hold</h6>
              </div>
            </div>

            <!-- delivered -->
            <div class="processing d-flex gap-4 align-items-center">
              <i-feather class="delivered f24" name="shopping-cart"></i-feather>
              <div>
                <h5 class="f16">12 Orders</h5>
                <h6 class="f14">Delivered</h6>
              </div>
            </div>

          </div>
        </div>
        <div class="d-none d-xl-block d-lg-block">
          <div class="h-100 d-flex justify-content-center align-items-end">
            <img class="img-fluid object-fit-contain"
              src="https://spike-angular-pro-main.netlify.app/assets/images/backgrounds/man-working-on-laptop.png"
              alt="" />
          </div>
        </div>
      </div>

      <div class="details1_bottom d-flex flex-column p-3">
        <div class="p-2 d-flex mb-3">
          <div class="flex-grow-1 px-4 d-flex flex-column">
            <span class="f18">Total Orders</span>
            <span class="f14">Weekly order updates</span>
          </div>
          <div class="flex-grow-1 d-flex justify-content-end px-4">
            <select id="fruits" class="outline-none shadow-none custome_border custome_radius px-2 bg-transparent"
              name="fruits">
              <option value="march 2024">
                <span class="f14">march 2024</span>
              </option>
              <option value="march 2024">
                <span class="f14">march 2024</span>
              </option>
              <option value="march 2024" selected>
                <span class="f14">march 2024</span>
              </option>
              <option value="march 2024">
                <span class="f14">march 2024</span>
              </option>
            </select>
          </div>
        </div>
        <div class="graph flex-grow-1"></div>
      </div>
    </div>

    <!-- other details like paymenyts -->
    <div class="dashboard_details_items other_details">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <!-- payments details -->
        <div class="col">
          <div class="card box_shadow p-3 custome_radius">
            <header class="d-flex justify-content-between">
              <div class="d-flex flex-column">
                <span class="f18 h5">Payment</span>
                <span class="f12">Last 7 days</span>
              </div>
              <div class="d-flex flex-column text-center">
                <span class="f15 h5">12,300</span>
                <span class="payment_btn f12">-3.8%</span>
              </div>
            </header>

            <div class="card-body h-100 mb-3">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Necessitatibus quaerat sit officia iste mollitia quam sapiente
              temporibus cupiditate, quidem eius sed facilis aspernatur sint
              repellendus nostrum doloribus ipsam velit aliquid libero tempore
              esse saepe! Perspiciatis tenetur ab ut doloremque sapiente
              voluptatem iusto, cumque at. Incidunt sint similique, deleniti
              repellendus sit cum temporibus soluta ex facere repellat ipsam
              consequuntur dolores minima molestiae, blanditiis, doloribus amet!
              Dolorem eaque officiis saepe ad, fugit sed fugiat dolore voluptas
              consequatur, quo iste expedita nisi animi.
            </div>

            <footer>
              <!-- for paypal -->
              <div class="d-flex justify-content-between mb-2">
                <div class="d-flex gap-2 align-items-center">
                  <span class="rounded_shape"></span>
                  <span class="f15">Paypal</span>
                </div>
                <div><span class="f15">52%</span></div>
              </div>

              <!-- Credit Card -->
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2 align-items-center">
                  <span class="rounded_shape"></span>
                  <span class="f15">Credit Card</span>
                </div>
                <div><span class="f15">52%</span></div>
              </div>
            </footer>
          </div>
        </div>

        <!-- product -->
        <div class="col">
          <div class="card box_shadow p-3 custome_radius">
            <header class="d-flex justify-content-between">
              <div class="d-flex flex-column">
                <span class="f18 h5">Products</span>
                <span class="f12">Last 7 days</span>
              </div>
              <div class="d-flex flex-column text-center">
                <span class="f15 h5">12,300</span>
                <span class="payment_btn f12">-3.8%</span>
              </div>
            </header>

            <div class="card-body mb-3"></div>

            <footer class="text-center">
              <span class="f14">$18k Profit more than month</span>
            </footer>
          </div>
        </div>

        <!-- latest deal -->
        <div class="col">
          <div class="card box_shadow p-3 custome_radius">
            <header class="d-flex justify-content-between">
              <div class="d-flex flex-column">
                <span class="f18 h5">Latest Deals</span>
                <span class="f12">Last 7 days</span>
              </div>
              <div class="d-flex flex-column text-center">
                <span class="payment_btn f12">-3.8%</span>
              </div>
            </header>

            <div class="card-body"></div>

            <footer class="latest_deal d-flex w-100 align-items-center">
              <img class="items" width="40px" src="https://cdn-icons-png.flaticon.com/128/17596/17596838.png" alt="" />

              <img class="items" width="40px" src="https://cdn-icons-png.flaticon.com/128/2202/2202112.png " alt="" />

              <img class="items" width="40px" src="https://cdn-icons-png.flaticon.com/128/4140/4140037.png" alt="" />

              <img class="items" width="40px" src="https://cdn-icons-png.flaticon.com/128/6997/6997662.png" alt="" />
              <a class="items"><span class="f14">+8</span></a>
            </footer>
          </div>
        </div>

        <!-- Customer -->
        <div class="col">
          <div class="card box_shadow p-3 custome_radius">
            <header class="d-flex justify-content-between">
              <div class="d-flex flex-column">
                <span class="f18 h5">Customers</span>
                <span class="f12">Last 7 days</span>
              </div>
              <div class="d-flex flex-column text-center">
                <span class="f15 h5">12,300</span>
                <span class="payment_btn f12">-3.8%</span>
              </div>
            </header>

            <div class="card-body mb-3"></div>

            <footer>
              <!-- for paypal -->
              <div class="d-flex justify-content-between mb-2">
                <div class="d-flex gap-2 align-items-center">
                  <span class="f14">April 07 - April 14</span>
                </div>
                <div><span class="f14">63,80</span></div>
              </div>

              <!-- Credit Card -->
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2 align-items-center">
                  <span class="f14">Last week</span>
                </div>
                <div><span class="f14">4280</span></div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- start with table of products  -->
  <div class="bg-danger tables_container gap-4 w-100 h-100 p-3 row">
      
  </div>

  <!-- for the sidebar canvas -->
</div>