@import '../styles.scss';

.section_overview {
  @include setDimension(100%, 100%);
  color: var(--textColor);
  @include flex("", "", column, 16, 0);
  min-height: 90vh;

  .dashboard_details {
    @include setDimension(100%, auto);
    @include flex("", "", "", 10, 0);
    min-height: 80vh;

    .dashboard_details_items {
      margin-bottom: rem(10);
      height: auto;
      gap: rem(20);

      .card {
        height: rem(365);

        .card-body {
          height: 100%;
          overflow-y: auto;
        }
      }
    }

    .details1 {
      @include flex("", "", column, 0, 0);
      background-color: var(--bg-high);
      color: var(--textColor);
      select{
        color: var(--textColor);
        background-color: var(--bg);
        height: rem(50);
        outline: none;
      }

      .f14 {
        color: var(--textColor-200);
      }

      .details1_top,
      .details1_bottom {
        height: calc(rem(755) / 2);
      }

      .order_summary i-feather {
        z-index: 1;

        &.lock {
          color: var(--proccessing-text);
          @include i_feather(50, 50, var(--processing-bg));
        }

        &.pause {
          color: var(--hold-text);
          @include i_feather(50, 50, var(--hold-bg));
        }

        &.delivered {
          color: var(--delivered-text);
          transform: rotate(30deg);
          @include i_feather(50, 50, var(--delivered-bg));
        }
      }

      .graph {
        max-height: rem(316);
        overflow-y: auto;
        @include flex(center, center, "", 0, 16);
      }
    }

    // for the other details
    .other_details {
      @include flex("", "", "", 6, 0);
      width: rem(621);
      min-width: rem(200);

      .dashboard_details_itemsDiv {
        width: calc(rem(621) / 2);
        flex-shrink: 0;
      }
    }

    header {
      background-color: transparent;

      .f18 {
        color: var(--textColor);
      }

      .f12 {
        color: var(--textColor-200);
      }
    }

    .payment_btn {
      background-color: var(--payment-bg);
      padding: rem(3) rem(15);
      border-radius: rem(16);
      border: rem(1) solid var(--payment-textColor);
      color: var(--payment-textColor);
    }

    .rounded_shape {
      @include rounded_icons(15, 15, transparent);
      @include flex(center, center, "", 0, 0);
      border: rem(1) solid var(--quick-link-hover-color);
    }

    .card {
      background-color: var(--bg-high);
      border: none;
      color: var(--textColor-200);
    }

    .latest_deal {
      height: rem(100);
      position: relative;

      .items {
        @include rounded_icons(40, 40, var(--white));
        @include flex(center, center, "", 0, 0);
        position: absolute;
        border: rem(2) solid var(--white);

        &:nth-child(2) {
          left: rem(34);
        }

        &:nth-child(3) {
          left: rem(67);
        }

        &:nth-child(4) {
          left: rem(95);
        }

        &:nth-child(5) {
          left: rem(127);
          z-index: 1;
          cursor: pointer;
        }
      }
    }
  }

  .table_container {
    @include flex(center, center, '', 20, 0);
    flex-wrap: wrap;

    .items {
      height: rem(580);
      background-color: var(--bg-high);
      padding: rem(32);
    }

    .product_table {
      flex-grow: 1;
    }

    .map_table {
      width: rem(380);
    }

    .reviews_product {
      width: 100%;
    }
  }
}