<div class="notes_parent">
  <div class="notes_top_header custome_radius">
    <span class="left_items f20">Notes</span>

    <div class="right_wrapper">
      <span class="f14 item1">Dashboard</span>
      <span class="circle"></span>
      <span class="f14 item2">Notes</span>
    </div>
  </div>

  <div class="notes_wrapper custome_radius">
    <div [class.open]="!toggle" class="notes_sidebar mb-4">
      <div class="seach_wrapper custome_radius mt-1">
        <input type="text" placeholder="Search Notes" />
        <i-feather class="f24" name="search"></i-feather>
      </div>
      <span class="Notes_heading mt-1">All Notes</span>

      <div class="notes_card card1 mt-2">
        <span class="f16">Demo Notes</span>
        <div class="date_icon_wrapper mt-1">
          <span class="f12">Sep 9, 2024</span>
          <i-feather class="f20" name="trash-2"></i-feather>
        </div>
      </div>

      <div class="notes_card card2">
        <span class="f16">Demo Notes</span>
        <div class="date_icon_wrapper mt-1">
          <span class="f12">Sep 9, 2024</span>
          <i-feather class="f20" name="trash-2"></i-feather>
        </div>
      </div>

      <div class="notes_card card3">
        <span class="f16">Demo Notes</span>
        <div class="date_icon_wrapper mt-1">
          <span class="f12">Sep 9, 2024</span>
          <i-feather class="f20" name="trash-2"></i-feather>
        </div>
      </div>

      <div class="notes_card card4">
        <span class="f16">Demo Notes</span>
        <div class="date_icon_wrapper mt-1">
          <span class="f12">Sep 9, 2024</span>
          <i-feather class="f20" name="trash-2"></i-feather>
        </div>
      </div>

      <div class="notes_card">
        <span class="f16">Demo Notes</span>
        <div class="date_icon_wrapper mt-1">
          <span class="f12">Sep 9, 2024</span>
          <i-feather class="f20" name="trash-2"></i-feather>
        </div>
      </div>

      <div class="notes_card">
        <span class="f16">Demo Notes</span>
        <div class="date_icon_wrapper mt-1">
          <span class="f12">Sep 9, 2024</span>
          <i-feather class="f20" name="trash-2"></i-feather>
        </div>
      </div>

      <div class="notes_card">
        <span class="f16">Demo Notes</span>
        <div class="date_icon_wrapper mt-1">
          <span class="f12">Sep 9, 2024</span>
          <i-feather class="f20" name="trash-2"></i-feather>
        </div>
      </div>
    </div>

    <div class="notes_body">
      <div class="notes_header">
        <i-feather
          class="menu large_toggle_menu"
          name="align-justify"
          (click)="notesSidebar()"
        >
        </i-feather>

        <i-feather
          class="menu d-none small_toggle_menu"
          name="align-justify"
          data-bs-toggle="offcanvas"
          data-bs-target="#notes_component"
          aria-controls="offcanvasExample"
        >
        </i-feather>
        <button class="notes_btn custome_radius f14">Add Notes</button>
      </div>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="notes_component">
        <div class="offcanvas-body notes_body">
          <div class="notes_sidebar_small mb-4">
            <div class="seach_wrapper custome_radius mt-1">
              <input type="text" placeholder="Search Notes" />
              <i-feather class="f24" name="search"></i-feather>
            </div>
            <span class="Notes_heading mt-1">All Notes</span>

            <div class="notes_card card1 mt-2">
              <span class="f16">Demo Notes</span>
              <div class="date_icon_wrapper mt-1">
                <span class="f12">Sep 9, 2024</span>
                <i-feather class="f20" name="trash-2"></i-feather>
              </div>
            </div>

            <div class="notes_card card2">
              <span class="f16">Demo Notes</span>
              <div class="date_icon_wrapper mt-1">
                <span class="f12">Sep 9, 2024</span>
                <i-feather class="f20" name="trash-2"></i-feather>
              </div>
            </div>

            <div class="notes_card card3">
              <span class="f16">Demo Notes</span>
              <div class="date_icon_wrapper mt-1">
                <span class="f12">Sep 9, 2024</span>
                <i-feather class="f20" name="trash-2"></i-feather>
              </div>
            </div>

            <div class="notes_card card4">
              <span class="f16">Demo Notes</span>
              <div class="date_icon_wrapper mt-1">
                <span class="f12">Sep 9, 2024</span>
                <i-feather class="f20" name="trash-2"></i-feather>
              </div>
            </div>

            <div class="notes_card">
              <span class="f16">Demo Notes</span>
              <div class="date_icon_wrapper mt-1">
                <span class="f12">Sep 9, 2024</span>
                <i-feather class="f20" name="trash-2"></i-feather>
              </div>
            </div>

            <div class="notes_card">
              <span class="f16">Demo Notes</span>
              <div class="date_icon_wrapper mt-1">
                <span class="f12">Sep 9, 2024</span>
                <i-feather class="f20" name="trash-2"></i-feather>
              </div>
            </div>

            <div class="notes_card">
              <span class="f16">Demo Notes</span>
              <div class="date_icon_wrapper mt-1">
                <span class="f12">Sep 9, 2024</span>
                <i-feather class="f20" name="trash-2"></i-feather>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="notes_content">
        <h4 class="f16">Edit Note</h4>
        <textarea class="text_area custome_radius"></textarea>
        <span class="f16 mt-4">Change Note Color</span>
        <div class="d-flex gap-2 mt-2">
          <span class="blue ball"></span>
          <span class="yellow ball"></span>
          <span class="grey ball"></span>
          <span class="salmon ball"></span>
          <span class="green ball"></span>
        </div>
      </div>
    </div>
  </div>
</div>
