<div class="email_wrapper custome_radius">
    <!-- Email header -->
    <div class="email_header custome_radius">
        <span class="left_item f18">Email</span>
        <div class="right_items">
            <span class="f14">Dashboard</span>
            <span class="circle"></span>
            <span class="f12">Email</span>
        </div>
    </div>

    <!-- Email body -->
    <div class="email_body custome_radius">
        <div class="email_body_header">
            <i-feather name="align-left" class="f24"></i-feather>
            <span class="f18 fw-medium">Inbox</span>
        </div>

        <div class="email_container">
            <!-- Compose section -->
            <div class="compose_wrapper">
                <div class="p-3 d-flex flex-column gap-3">
                    <button class="btn compose_btn custome_radius border-0 f14">
                        Compose
                    </button>

                    <div class="icon_mail_wrapper first p-4">
                        <i-feather name="mail" class="f20"></i-feather>
                        <span class="f14">Inbox</span>
                    </div>

                    <div class="icon_mail_wrapper p-4">
                        <i-feather name="send" class="f20"></i-feather>
                        <span class="f14">Sent</span>
                    </div>

                    <div class="icon_mail_wrapper p-4">
                        <i-feather name="save" class="f20"></i-feather>
                        <span class="f14">Draft</span>
                    </div>

                    <div class="icon_mail_wrapper p-4">
                        <i-feather name="flag" class="f20"></i-feather>
                        <span class="f14">Spam</span>
                    </div>

                    <div class="icon_mail_wrapper p-4">
                        <i-feather name="trash" class="f20"></i-feather>
                        <span class="f14">Trash</span>
                    </div>
                </div>

                <div class="sorted_wrapper p-3">
                    <h6 class="text-nowrap f14 fw-bold">Sort By</h6>
                    <div class="icon_mail_wrapper p-4">
                        <i-feather name="star" class="f20"></i-feather>
                        <span class="f14">Star</span>
                    </div>
                    <div class="icon_mail_wrapper p-4">
                        <i-feather name="info" class="f20"></i-feather>
                        <span class="f14">Important</span>
                    </div>
                </div>

                <div class="sorted_wrapper p-3">
                    <h6 class="text-nowrap f14 fw-bold">Labels</h6>
                    <div class="icon_mail_wrapper p-4">
                        <i-feather name="file" class="f20"></i-feather>
                        <span class="f14">Persolanl</span>
                    </div>
                    <div class="icon_mail_wrapper p-4">
                        <i-feather name="file" class="f20"></i-feather>
                        <span class="f14">Work</span>
                    </div>
                    <div class="icon_mail_wrapper p-4">
                        <i-feather name="file" class="f20"></i-feather>
                        <span class="f14">Payment</span>
                    </div>
                    <div class="icon_mail_wrapper p-4">
                        <i-feather name="file" class="f20"></i-feather>
                        <span class="f14">Accounts</span>
                    </div>
                </div>
            </div>

            <!-- Email inbox section -->
            <div class="email_wrapp_body">
                <div class="inbox_wrapper">
                    <div class="inbox_header">
                        <span class="lef f16">Inbox</span>
                        <div class="inbox_right">
                            <i-feather name="chevrons-left" class="f20"></i-feather>
                            <span class="active f14">1</span>
                            <span class="f14">2</span>
                            <i-feather name="chevrons-right" class="f20"></i-feather>
                        </div>
                    </div>

                    <div class="mailbox_wrapper">
                        <div class="left_mail_items d-flex gap-3">
                            <div class="input_check">
                                <input type="checkbox" class="form-check-input" />
                            </div>
                            <div class="d-flex flex-column gap-2">
                                <h4 class="f16 mail_username_heading">Santiago</h4>
                                <span class="text-nowrap f14 user_message">Lorem ipsum dolor sit am..</span>
                                <div class="d-flex gap-2">
                                    <i-feather class="f20" name="star"></i-feather>
                                    <i-feather class="f20" name="info"></i-feather>
                                </div>
                            </div>
                        </div>

                        <div
                            class="right_mail_items d-flex flex-column gap-3 justify-content-center align-items-center">
                            <button class="btn mail_btn">Personal</button>
                            <span class="f12">15 - Jan</span>
                        </div>
                    </div>

                    <div class="mailbox_wrapper">
                        <div class="left_mail_items d-flex gap-3">
                            <div class="input_check">
                                <input type="checkbox" class="form-check-input" />
                            </div>
                            <div class="d-flex flex-column gap-2">
                                <h4 class="f16 mail_username_heading">Lora</h4>
                                <span class="text-nowrap f14 user_message">Lorem ipsum dolor sit am..</span>
                                <div class="d-flex gap-2">
                                    <i-feather class="f20" name="star"></i-feather>
                                    <i-feather class="f20" name="info"></i-feather>
                                </div>
                            </div>
                        </div>

                        <div
                            class="right_mail_items d-flex flex-column gap-3 justify-content-center align-items-center">
                            <button class="btn mail_btn grey">Work</button>
                            <span class="f12">15-Jan</span>
                        </div>
                    </div>

                    <div class="mailbox_wrapper">
                        <div class="left_mail_items d-flex gap-3">
                            <div class="input_check">
                                <input type="checkbox" class="form-check-input" />
                            </div>
                            <div class="d-flex flex-column gap-2">
                                <h4 class="f16 mail_username_heading">Maya</h4>
                                <span class="text-nowrap f14 user_message">consectetuer adipiscing ..</span>
                                <div class="d-flex gap-2">
                                    <i-feather class="f20" name="star"></i-feather>
                                    <i-feather class="f20" name="info"></i-feather>
                                </div>
                            </div>
                        </div>

                        <div
                            class="right_mail_items d-flex flex-column gap-3 justify-content-center align-items-center">
                            <button class="btn mail_btn salmon">Accounts</button>
                            <span class="f12">25 - Nov</span>
                        </div>
                    </div>

                    <div class="mailbox_wrapper">
                        <div class="left_mail_items d-flex gap-3">
                            <div class="input_check">
                                <input type="checkbox" class="form-check-input" />
                            </div>
                            <div class="d-flex flex-column gap-2">
                                <h4 class="f16 mail_username_heading">Santiago</h4>
                                <span class="text-nowrap f14 user_message">Aenean commodo ligula eg..</span>
                                <div class="d-flex gap-2">
                                    <i-feather class="f20" name="star"></i-feather>
                                    <i-feather class="f20" name="info"></i-feather>
                                </div>
                            </div>
                        </div>

                        <div
                            class="right_mail_items d-flex flex-column gap-3 justify-content-center align-items-center">
                            <button class="btn mail_btn">Personal</button>
                            <span class="f12">25 - Nov</span>
                        </div>
                    </div>

                    <div class="mailbox_wrapper">
                        <div class="left_mail_items d-flex gap-3">
                            <div class="input_check">
                                <input type="checkbox" class="form-check-input" />
                            </div>
                            <div class="d-flex flex-column gap-2">
                                <h4 class="f16 mail_username_heading">Leonardo</h4>
                                <span class="text-nowrap f14 user_message">Lorem ipsum dolor sit am..</span>
                                <div class="d-flex gap-2">
                                    <i-feather class="f20" name="star"></i-feather>
                                    <i-feather class="f20" name="info"></i-feather>
                                </div>
                            </div>
                        </div>

                        <div
                            class="right_mail_items d-flex flex-column gap-3 justify-content-center align-items-center">
                            <button class="btn mail_btn yellow">Payments</button>
                            <span class="f12">15- Mar</span>
                        </div>
                    </div>

                    <div class="mailbox_wrapper">
                        <div class="left_mail_items d-flex gap-3">
                            <div class="input_check">
                                <input type="checkbox" class="form-check-input" />
                            </div>
                            <div class="d-flex flex-column gap-2">
                                <h4 class="f16 mail_username_heading">Leonardo</h4>
                                <span class="text-nowrap f14 user_message">Lorem ipsum dolor sit am..</span>
                                <div class="d-flex gap-2">
                                    <i-feather class="f20" name="star"></i-feather>
                                    <i-feather class="f20" name="info"></i-feather>
                                </div>
                            </div>
                        </div>

                        <div
                            class="right_mail_items d-flex flex-column gap-3 justify-content-center align-items-center">
                            <button class="btn mail_btn">Personal</button>
                            <span class="f12">15-Nov</span>
                        </div>
                    </div>
                </div>

                <div class="img_wrapper">
                    <h4 class="mail_headings f20">Please select a Mail</h4>
                    <img src="../../../assets/email-img.png" alt="gmail-image" />
                </div>

                <div class="mail_body d-flex flex-column gap-4">
                    <div class="mail_body_header d-flex justify-content-between">
                        <div class="mail_body_left d-flex gap-3">
                            <div class="roundeds">
                                <i-feather class="f24" name="chevrons-right"></i-feather>
                            </div>

                            <i-feather class="f24 me-2" name="info"></i-feather>
                            <i-feather class="f24" name="star"></i-feather>
                        </div>

                        <div class="roundeds_more">
                            <i-feather class="f24" name="more-vertical"></i-feather>
                            <div class="more_data custome_radius box_shadow">

                                <div class="more_data_item first">
                                    <i-feather class="f24" name="mail"></i-feather>
                                    <span class="f14">Mark as read</span>
                                </div>

                                <div class=" more_data_item">
                                    <i-feather name="alert-triangle" class="f24"></i-feather>
                                    <span class="f14">Alert</span>
                                </div>

                                <div class="more_data_item last">
                                    <i-feather class="f24" name="trash"></i-feather>
                                    <span class="f14">Trash</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="mail-content">
                        <div class="d-flex d-flex justify-content-between">
                            <div class="left d-flex gap-3">
                                <img class="user-img" src="../../../assets/email_user-img.jpg" alt="" />
                                <div class="d-flex flex-column gap-1">
                                    <h4 class="f16 fw-bold">Lora</h4>
                                    <p class="f14">Lora_Kessler586@google.com</p>
                                </div>
                            </div>

                            <button class="btn work_btn custome_radius f14 border-0">
                                Work
                            </button>
                        </div>

                        <p class="f20 fw-bold">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        </p>
                        <p class="f14">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa.
                        </p>

                        <div class="reply_forward_btn d-flex gap-3">
                            <button class="btn reply_btn custome_radius f14 p-3 border-0">
                                Reply
                            </button>
                            <button class="btn forward_btn custome_radius f14 p-3">
                                Forward
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>