/* You can add global styles to this file, and also import other style files */


@import './Scss/function';
@import './Scss/base/index';

*{
    // padding: 0 !important;
    // margin: 0;
    box-sizing: border-box !important;
}

.custome_radius{
    border-radius: 18px;
}

.box_shadow{
     box-shadow:  
     0 1px 3px var(--inline-shadow),   
     0 1px 2px var(--outline-shadow),  
     0 4px 6px var(--strongly-shadow);
}


.custome_border {
    border: 1px solid #cccccc;
}

.sidebar_items {
    background-color: transparent !important;
}

::-webkit-scrollbar {
    width:6px !important;
    height: 1px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc !important;
    border-radius: 10px;
}

.light-theme:has(.light_img) .light-logo{
   display: none;
}
.dark-theme:has(.dark_img) .dark-logo{
    display: none;
}
