/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "./function";
@import "./base/index";
@import "./mixing";
* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

.custome_bottom_border {
  border: none;
  border-bottom: 1px solid var(--border-color-lighter);
}

.custome_radius,
.dropdown-menu.show {
  border-radius: 18px !important;
}

.box_shadow {
  box-shadow: 0 1px 3px var(--inline-shadow), 0 1px 2px var(--outline-shadow),
    0 4px 6px var(--strongly-shadow);
}

.custome_border {
  border: 1px solid var(--border-color-light);
}

::-webkit-scrollbar {
  @include setDimension(rem(6), rem(1));
}

::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-hover-bg);
  border-radius: 10px;
}

.light-theme:has(.light_img) .light-logo {
  display: none;
}
.dark-theme:has(.dark_img) .dark-logo {
  display: none;
}
