/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "./function";
@import "./base/index";
@import "./mixing";

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

.custome_bottom_border {
  border: none;
  border-bottom: rem(1) solid var(--border-color-lighter);
}

span {
  color: var(--textColor);
  max-width: rem(130);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custome_radius,
.dropdown-menu.show {
  border-radius: rem(18) !important;
}

.box_shadow {
  box-shadow: 0 rem(1) rem(3) var(--inline-shadow), 0 rem(1) rem(2) var(--outline-shadow),
    0 rem(4) rem(6) var(--strongly-shadow);
}

.custome_border {
  border: rem(1) solid var(--border-color-light);
}

::-webkit-scrollbar {
  @include setDimension(rem(4), rem(1));
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: rem(20);
}

.light-theme:has(.light_img) .light-logo {
  display: none;
}

.dark-theme:has(.dark_img) .dark-logo {
  display: none;
}

.modal-backdrop{
  position: unset !important;
}