@mixin flex($justify,$align,$direction,$gap,$padding){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: rem($gap);
    padding: rem($padding) !important;
}


@mixin font($fs,$fw,$lineH){
  font-size: $fs;
  font-weight: $fw;
  line-height: $lineH;
}

@mixin setDimension($width, $height){
    width: $width !important;
    height: $height !important;
}

@mixin hover($radius,$bg,$textColor){
    border-radius: $radius;
    background-color: $bg;
    color: $textColor;
}