<div class="p-2 d-flex mb-3">
    <div class="flex-grow-1 px-4 d-flex flex-column">
      <span class="f18">Total Orders</span>
      <span class="f14">Weekly order updates</span>
    </div>
    <div class="flex-grow-1 d-flex justify-content-end px-4">
      <select id="fruits" class="outline-none shadow-none custome_border custome_radius px-2 bg-transparent"
        name="fruits">
        <option value="march 2024">
          <span class="f14">march 2024</span>
        </option>
        <option value="march 2024">
          <span class="f14">march 2024</span>
        </option>
        <option value="march 2024" selected>
          <span class="f14">march 2024</span>
        </option>
        <option value="march 2024">
          <span class="f14">march 2024</span>
        </option>
      </select>
    </div>
  </div>
  <div class="graph flex-grow-1">

  </div>