<section class="account_container custome_radius">
    <header class="sub_header custome_radius box_shadow">
        <h4 class="f20">Account Settings</h4>
        <span class="f14">Dashboard</span>
        <ul>
            <li class="f14">Account Settings</li>
        </ul>
    </header>

    <main class="mt-4 account_main custome_radius box_shadow">

        <!-- for the account tab -->
        <p class="account_tab"><i-feather class="f24" name="user"></i-feather>Account</p>

        <!-- change profile -->
        <div id="change_profile" class="change_profile custome_radius custome_border">
            <h5 class="mb-2">Change Profile</h5>
            <p class="f14">Change your profile picture from here</p>
            <img src="./assets/account/user-1.jpg" alt="">
            <div class="btn_group">
                <button class="btn upload">Upload</button>
                <button class="btn reset">Reset</button>
                <p class="w-100 text-center">Allowed JPG, GIF or PNG. Max size of 800K</p>
            </div>
        </div>

        <!-- change password -->
        <div class="change_password custome_radius custome_border">
            <h5 class="mb-2">Change Password</h5>
            <p class="f14">To change your personal detail , edit and save from here</p>
            <form class="f14 mt-3" [formGroup]="resetPasswordForm">
                <!-- for the current password -->
                <div class="form_items mb-3">
                    <label>Current Password</label>
                    <input type="password" class="form-control" formControlName="oldPassword">
                    <div *ngIf="resetPasswordForm.get('oldPassword')?.hasError('required')&& resetPasswordForm.get('oldPassword')?.touched"
                        class="text-danger">
                        Current Password is required.
                    </div>
                </div>

                <div class="form_items mb-3">
                    <label>New Password</label>
                    <input type="password" class="form-control" formControlName="newPassword">
                    <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('required') && resetPasswordForm.get('newPassword')?.touched"
                        class="text-danger">
                        New Password is required.
                    </div>
                    <div *ngIf="resetPasswordForm.errors?.['sameAsOldPassword'] " class="text-danger">
                        The new password cannot be the same as the old password.
                    </div>
                </div>

                <div class="form_items">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword">
                    <div *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required') && resetPasswordForm.get('confirmPassword')?.touched"
                        class="text-danger">
                        Confirm Password is required.
                    </div>
                    <div *ngIf="resetPasswordForm.errors?.['passwordsMismatch'] " class="text-danger">
                        New Password and Confirm Password do not match.
                    </div>
                </div>

            </form>

            <div class="action_buttons w-100 d-flex gap-3 justify-content-end mt-3">
                <button class="btn save_btn" (click)="save()">save</button>

            </div>
        </div>

        <!-- profile details -->
        <div class="profile_details custome_radius custome_border f14">
            <h5 class="mb-1">Personal Details</h5>
            <p class="f14">To change your personal detail , edit and save from here</p>
            <form>
                <!-- for the Your name -->
                <div class="form_items">
                    <label class="w-100">Your Name</label>
                    <input type="text" class="form-control flex-grow-1 mb-3" required>
                    <p>Oops! Something Went Wrong</p>
                </div>

                <!-- for the Store name -->
                <div class="form_items">
                    <label class="w-100">Store Name</label>
                    <input type="text" class="form-control flex-grow-1 mb-3" required>
                    <p>Oops! Something Went Wrong</p>
                </div>

                <!-- for the Location -->
                <div class="form_items">
                    <label>Location</label>
                    <select class="form-select mb-3" required>
                        <option selected>India</option>
                        <option value="1">USA</option>
                        <option value="2">UK</option>
                        <option value="3">China</option>
                    </select>
                    <p>Oops! Something Went Wrong</p>
                </div>

                <!-- for the Currency -->
                <div class="form_items">
                    <label>Currency</label>
                    <select class="form-select mb-3" required>
                        <option selected>India</option>
                        <option value="1">USA</option>
                        <option value="2">UK</option>
                        <option value="3">China</option>
                    </select>
                    <p>Oops! Something Went Wrong</p>
                </div>

                <!-- for the Email -->
                <div class="form_items mb-3">
                    <label class="">Email</label>
                    <input type="email" class="form-control flex-grow-1" required>
                    <p>Oops! Something Went Wrong</p>
                </div>

                <!-- for the Phone -->
                <div class="d-flex flex-column form_items mb-3">
                    <label class="">Phone</label>
                    <input type="number" class="form-control flex-grow-1" required>
                    <p>Oops! Something Went Wrong</p>
                </div>

                <div class="d-flex flex-column form_items">
                    <label>Address</label>
                    <input type="text" class="form-control">
                    <p>Oops! Something Went Wrong</p>
                </div>
            </form>
        </div>

        <!-- buttons for save and cancel -->
        <div class="action_buttons w-100 d-flex gap-3 justify-content-end">
            <button class="btn save_btn">save</button>
            <button type="reset" class="btn cancel_btn">cancel</button>
        </div>

    </main>

</section>