<div class="blog_wrapper">
    <div class="blog_header custom_radius">
        <span class="left_item f20">Blog Detail</span>

        <div class="right_item_wrapper">
            <span class="f14"> Dashboard</span>
            <span class="circle"></span>
            <span class="f14">Courses</span>
        </div>
    </div>

    <div class="blog_content custom_radius">
        <div class="image-container">
            <img class="blog_img img-fluid" src="../../../../assets/blog-img1.jpg" alt="blog-img" />
            <button class="read_more_btn custom_radius f16 p-3">2 min Read</button>
            <img class="user_img" src="../../../../assets/account/user-1.jpg" alt="user-img" />
        </div>

        <div class="card_content">
            <div class="top_heading">
                <button type="button" class="f14 gadget_btn custom_radius">
                    Gadget
                </button>
                <h2 class="blog_heading">
                    Early Black Friday Amazon deals: cheap TVs, headphones, laptops
                </h2>

                <div class="icon_date_wrapper">
                    <div class="left_icon_wrapper">
                        <div class="d-flex gap-1 align-items-center">
                            <i-feather name="eye" class="f24"></i-feather>
                            <span class="f12">360</span>
                        </div>

                        <div class="d-flex gap-1 align-items-center">
                            <i-feather name="message-square" class="f24"></i-feather>
                            <span class="f12">4</span>
                        </div>
                    </div>

                    <div class="date_circle_wrapper">
                        <span class="circle"></span>
                        <span class="date f14">Thu, Mar 30</span>
                    </div>
                </div>
            </div>

            <div class="paragraph_wrapper">
                <h4 class="heading_paragraph">Title of the paragraph</h4>
                <p class="paragraph">
                    But you cannot figure out what it is or what it can do. MTA web
                    directory is the simplest way in which one can bid on a link, or a few
                    links if they wish to do so. The link directory on MTA displays all of
                    the links it currently has, and does so in alphabetical order, which
                    makes it much easier for someone to find what they are looking for if
                    it is something specific and they do not want to go through all the
                    other sites and links as well. It allows you to start your bid at the
                    bottom and slowly work your way to the top of the list.
                </p>

                <p class="paragraph">
                    Gigure out what it is or what it can do. MTA web directory is the
                    simplest way in which one can bid on a link, or a few links if they
                    wish to do so. The link directory on MTA displays all of the links it
                    currently has, and does so in alphabetical order, which makes it much
                    easier for someone to find what they are looking for if it is
                    something specific and they do not want to go through all the other
                    sites and links as well. It allows you to start your bid at the bottom
                    and slowly work your way to the top of the
                </p>

                <strong class="paragraph"> This is strong text. </strong>
                <i class="paragraph common">This is italic text.</i>
            </div>

            <div class="unorderlist_wrapper">
                <h4 class="ul_heading f24">Unorder list.</h4>
                <ul class="f14 mt-3 ul_underline">
                    <li>Gigure out what it is or</li>
                    <li>The links it currently</li>
                    <li>It allows you to start your bid</li>
                    <li>Gigure out what it is or</li>
                    <li>The links it currently</li>
                    <li>It allows you to start your bid</li>
                </ul>
            </div>

            <div class="unorderlist_wrapper">
                <h4 class="ul_heading f24">Order list.</h4>
                <ol class="f14 mt-3 ul_underline">
                    <li>Gigure out what it is or</li>
                    <li>The links it currently</li>
                    <li>It allows you to start your bid</li>
                    <li>Gigure out what it is or</li>
                    <li>The links it currently</li>
                    <li>It allows you to start your bid</li>
                </ol>
            </div>
            <h5 class="quotes_heading">Quotes</h5>
            <ul class="quotes_ul f14 pb-4 d-flex gap-2 align-items-center">
                <i-feather name="umbrella" class="f24"></i-feather>
                <li>Life is short, Smile while you still have teeth!</li>
            </ul>
        </div>
    </div>

    <!-- Blog Commnets -->
    <div class="blog_comments custom_radius">
        <h5 class="comment_heading f20">Post Comments</h5>
        <span class="f14 pe-3 char_count">10/30</span>

        <textarea rows="4" class="text_area form-control custom_radius mt-3"
            placeholder="Leave a comment here"></textarea>
        <div class="d-flex gap-2 mt-2 align-items-center">
            <i-feather class="f20 text-danger" name="alert-triangle"></i-feather>
            <span class="f16">Limit Transaction description to <span class="f14">50</span> character</span>
        </div>

        <button class="btn blog_post_btn custom_radius f14 mt-4">
            Post Button
        </button>
        <div class="d-flex mt-5">
            <span class="post_comment f18">Comments</span>
            <span class="comment_count mx-3 bg-light-primary fw-bold">4</span>
        </div>

        <div class="user_comments_details_wrapper custom_radius mt-3">
            <div class="comment_user d-flex justify-content-between">
                <div class=" d-flex justify-content-center align-items-center gap-2">
                    <img class="user_img" src="../../../../assets/mesage_user.jpg" alt="user_img" />
                    <span class="user_name f16">Charlie Hamilton</span>
                    <div class="d-flex gap-2 align-items-center rounded_now">
                        <span class="circle"></span>
                        <span class="f12">5 minutes ago</span>
                    </div>
                </div>
                <div class="right d-flex gap-3">
                    <i-feather class="f24" name="edit" title="Delete Comment"></i-feather>
                    <i-feather class="f24" name="trash" title="Update Comment"></i-feather>
                </div>
            </div>
            <p class="mt-3 f14">
                Jigho tabkubho nira carudi ganlac milza dekpo putog iptodok tuhral canse
                mi rega ujnuf kukfag osailu bis oca. Gegeholo hata sogi kod bihdelsa
                nege evinog mes loz perdutace kehlondip im fep wiven fefu fi tigfiso.
            </p>

            <button class="comment_reply_icon mt-3 ">
                <i-feather name="corner-up-left" class="f20"></i-feather>
            </button>
        </div>

        <!-- commnet reply -->
        <div class="comment_reply mt-3">
            <img src="../../../../assets/user.jpg" alt="" />
            <input type="text" class="form-control shadow-none" placeholder="Reply" />
            <button class="btn comment_reply_btn custom_radius f12">Reply</button>
        </div>

        <div class="user_reply_comment">
            <div class="user_comments_details_wrappers custom_radius mt-3">
                <div class="comment_user d-flex justify-content-between">
                    <div class=" d-flex justify-content-center align-items-center gap-2">
                        <img class="user_img" src="../../../../assets/email_user-img.jpg" alt="user_img" />
                        <span class="user_name f16">Ethan Gordon</span>
                        <div class="d-flex gap-2 align-items-center rounded_now">
                            <span class="circle"></span>
                            <span class="f12">2 minutes ago</span>
                        </div>
                    </div>
                    <div class="right d-flex gap-3">
                        <i-feather class="f24" name="edit" title="Delete Comment"></i-feather>
                        <i-feather class="f24" name="trash" title="Update Comment"></i-feather>
                    </div>
                </div>
                <p class="mt-3 f14">
                    Diprow wir hilohi ilmi fumow oc co cop iv gi ize tamiv kulok. Bam ci
                    urkati ul negu ovga hivwe toubugof gok imro ale sujoh saput.
                </p>
                <button class="comment_reply_icon mt-3">
                    <i-feather name="corner-up-left" class="f20"></i-feather>
                </button>
            </div>
        </div>
    </div>
</div>